<div class="pg">
<div class="styles_wrapper">
  
       
      
       <% @styles.each do |style| %>
         <% unless style.name == 'No style' %>
           <%=link_to style_path(style) do %> 
            
           <div class="collection_div" id="<%= style.name%>" >
            <%= image_tag("/images/rough_col/#{style.name.downcase}.png", :class => "collection_img") %>
             
           
            
           </div>  
          <% end %>
              
         <% end %>
          
       <% end %>
      </ul>

  </div>
  </div>

  <script>
  $('.side_nav').css('display','none');
  // $('#content_wrapper').css('background-color','white');
  $('body').css('background-color','white');

  </script>