<div class="type-contain">
<h1>Product Types</h1>
<ul class ="prod_list">
  <% @product_types.each do |product_type| %>
    <li class ="prod_tile"><%= link_to product_type.name, product_type_path(product_type) %></li>
  <% end %>
</ul>
</div>