
<div class="prod_wrapper ">
  <div class="list_wrapper">
     
    <ul class="prod_list">
      <% if params['name'] %>
<script>
  var prm = decodeURIComponent(window.location.search.substring(1))
  var cat_name = prm.split('=')[1];
  var panel = '#' + cat_name
  $(panel).find('a').trigger('click')
</script>
  <% else %>
  
<% end %>
     <% @product_types.each do |product_type| %>
      <!-- , :anchor => "type="+product_type.id.to_s -->
        <%= link_to  fetch_cat_path(:cat_id => product_type.id), :remote => true do %> 
        <li class ="prod_tile" id = "<%= product_type.name.gsub(' ','_') %>">
          <%= product_type.name %>
        </li>

        <% end %>
      

    <% end %>
    </ul>
  </div>
</div>


<script>
  // toggle open the side nav panel for the clicked category tile ***
  $('.prod_tile').click(function(){
     var thiss =$(this);
      var cat = thiss[0].id;
      var type_id = $("#"+cat).find('a').attr('href').split('=')[1];
      //history state is a wormhole
      //window.history.pushState(null, null, "product_types");
     // window.history.pushState(type_id, null,"product_types/"+type_id);

     var panel = '#' + cat + "1";
    $(panel).collapse('toggle');

  })
</script>


