<style>
  .static_header{
    margin-left: -0.1em;
  }
</style>
<div id="static_wrapper">
  
  <h3 class='static_header'>
    Catalogs
  </h3>
  <br/>
  <div id="contact">
  <p>If you have a question please do no hesitate to contact us,<br /> the Sherle Wagner Staff looks forwards to assisting you.<br /><br /></p>
  <p class="contact">
      Phone: 1 - (212) 758-3300 <br/>
      Fax:  1 - (212) 207-8010 <br/>
      Email: <a href="mailto:customerservice@sherlewagner.com">customerservice@sherlewagner.com</a><br/>
    </p>
    <br/>

  </div>
  <div class="downloads">
    <h4 class='static_header'>
    Downloads
    </h4> <br/>
    <p> Please contact us to order your printed catologs</p><br/>
  <div class="list">
    
    <a target="new" href="https://s3.amazonaws.com/sw-raw-images-color/CATALOGS/Introduction+%26+Finishes.pdf">
      <p><i class="fa fa-file-pdf-o"></i> Introduction & Finishes</p>
    </a>
    <a target="new" href="https://s3.amazonaws.com/sw-raw-images-color/CATALOGS/Fittings.pdf">
      <p><i class="fa fa-file-pdf-o"></i> Fittings</p>
    </a>
    <a target="new" href="https://s3.amazonaws.com/sw-raw-images-color/CATALOGS/Fixtures.pdf">
      <p><i class="fa fa-file-pdf-o"></i> Fixtures</p>
    </a>
    <a target="new" href="https://s3.amazonaws.com/sw-raw-images-color/CATALOGS/Accessories.pdf">
      <p><i class="fa fa-file-pdf-o"></i> Accesories</p>
    </a>
    <a target="new" href="https://s3.amazonaws.com/sw-raw-images-color/CATALOGS/Hardware.pdf">
      <p><i class="fa fa-file-pdf-o"></i> Hardware</p>
    </a>
    <a target="new" href="https://s3.amazonaws.com/sw-raw-images-color/CATALOGS/Lighting.pdf">
      <p><i class="fa fa-file-pdf-o"></i> Lighting</p>
    </a>
    <a target="new" href="https://s3.amazonaws.com/sw-raw-images-color/CATALOGS/Wallpaper.pdf">
      <p><i class="fa fa-file-pdf-o"></i> Wallpaper</p>
    </a>

    <a target="new" href="https://s3.amazonaws.com/sw-raw-images-color/CATALOGS/Collections.pdf">
      <p><i class="fa fa-file-pdf-o"></i> Collections</p>
    </a>
    
  </div>

  </div>
  <div class="printeds">
    
    
   </div> <br/>      
    
      

             

</div>