<style type="text/css">
      html { height: 100% }
      body { height: 100%; margin: 0; padding: 0 }
      #map-canvas { height: 100% }
  </style>
  <script type="text/javascript"
      src="https://maps.googleapis.com/maps/api/js?key= AIzaSyCimDgFMmcwBv25C0Rp1XtcIv-OS5rbe00&sensor=false">
  </script>
  <script type="text/javascript">
    function set_map(){
      var SW = {lat:40.7621881,lng:-73.9650126};
      var mapOptions = {
        center: SW,
        zoom: 17,
        mapTypeId: google.maps.MapTypeId.ROADMAP
      };
      var mapDiv = document.getElementById('map-canvas');
      var map = new google.maps.Map(document.getElementById("map-canvas"),
      mapOptions);
      var marker = new google.maps.Marker({
            position: SW,
            map: map,
            title: "Sherle Wagner"
            
          });

     marker.addListener('click', function() {
      window.open('https://www.google.com/maps/place/Sherle+Wagner+International/@40.7621881,-73.9650126,17z/data=!3m1!4b1!4m2!3m1!1s0x89c258e881faea7d:0xbc2c6a685eed277?hl=en','_blank');
      });

      
    }

    $(document).ready(function(){
      set_map();
    })
  </script>






<div id="static_wrapper">
  
  <h3 class='static_header'>
    Contact
  </h3>
  
<div id="address">
  <p>Sherle Wagner International<br>
300 East 62nd St<br>
New York, NY 10065</p>
</div>
  <div id="contact">
  <p class="contact">
      Phone: 1 - (212) 758-3300 <br/>
      Fax:  1 - (212) 207-8010 <br/>
      Email:<a href="mailto:customerservice@sherlewagner.com">customerservice@sherlewagner.com</a><br/>
    </p>
    <br/>

</div>

 <div id="map-canvas" style="width:93%;height:500px"/>




</div>


