<style>
.navvy{
  display: none;
}
  .static_header{
    margin-left: -0.1em;
  }
   .story{
    margin-top: 1em;
    float: left;
    font-size: 16;
    /*padding-left: 2em;*/
    
    
  }
  .image{
    float: left;
    padding-top: 1em;
    display: inline-block;
    
    padding-left: 0;
  }
  #factory{
    width:90%;
    float: right;
  }
  .factory_text{
    padding-top: 1em;
    padding-left: 0 !important;
  }
  #factory_img{
    float: right;
    width:54%;
  }
  .container-fluid{
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
  .row{
    margin-right: 0;
    margin-left: 0;
  }
 
</style>
<div id="static_wrapper">
  
  <h3 class='static_header'>
    History & Manufacturing
  </h3>
  <br/>
  <div id="history">
    <div id="blurb">
      <h4>Since its founding in 1945, Sherle Wagner International has been 
      the premier source, world-wide, for luxury hardware and bath accessories.<br /></h4>
    </div>
    <br>  
  <div class="history_row row content">
   <div class="image">
    <img src="/images/legacy_history.jpg" id="portrait" alt="Sherle Wagner">
    </div>
    <div class="story col-sm-12 col-md-6" id="history_p">
     
      <p>Sherle Wagner founded his company with his wife Rose in 1945 for the purpose of offering extraordinary bathroom fixtures, accessories and hardware. An architect by training, he recognized that the utilitarian does not have to be mundane. Mr. Wagner thus elevated often-overlooked bath elements to an elegance not previously found on the market. First offering an exquisite dolphin faucet with a 24-karat gold finish, Mr. Wagner’s goal was to offer a discerning clientele the opportunity to “complete the ultimate luxury bathroom.” Exquisite craftsmanship and old-world techniques were of utmost importance in presenting his glorious designs.</p>
      <p>
      Mr. Wagner continued his strong appreciation for art and architecture throughout his life. His finely trained and sensitive eye established the foundation for the company’s exquisite esthetic, which is now synonymous with the finest in taste and craftsmanship.
      </p>
      <p>
      Soon Sherle Wagner was able to count Presidents and movie stars among his glamorous clientele. Today, each piece from our broad collection is still meticulously fabricated in small batches using old-world techniques in our facility located here in the United States.</p>
    </div>
    

  </div>
    
      

             


  <br><hr>
  <h3 class='static_header'>
      The Factory
  </h3>
  <br/>
  <div class="factory_row row content">
    <div class="factory_text col-sm-12 col-md-5 pull left">
    <p>One of the best parts of Sherle Wagner’s story is the history of fine craftsmanship behind each object we make. Our factory is located here in the United States, and it is filled with skilled artisans who bring a tradition of care and refined technique to their individual crafts. Learn more about the Sherle Wagner family: click here for a tour of our factory and to meet the people who create the items in our collections.</p>
    </div>
    <div class="image col-sm-6" id="factory_img">
    <img src="/images/Factory-4.jpg" id="factory" alt="Sherle Wagner">
    </div>
  </div>

</div>