<style>
  .navvy{
    display: none;
  }
  #content_wrapper {
    width: 100%;
    background-image: url("images/HomeSW.jpg");
    background-size: contain;
    background-repeat: none;
}
  #center_main{
    height: 100%;
    width: 100%;
  }
  #main_contain {
    background-color: #eeeeee;
    height: 700px !important;
    overflow: auto;

}
/*  #holder{
    height: 100%;
    width: 100%;
    background-image: url("images/HomeSW.jpg");
  }*/
</style>
<div id="holder">
  
</div>