
<style>
  .navvy{
    position: relative;
    display: none;
  }
  #l_nav{
    display: none;
    position: relative;
  }
  .r_col{
    display: none;
  }
  #content_wrapper {
    width: 100%;
    /* background-image: url("images/HomeSW.jpg"); */
    background-image: url("images/sw_home1.jpg");
    padding: 0;
    /* height: 100%; */
    /* display: none; */
    display: table-row-group;
    background-size: cover;
    min-height:  68em;
}
  #center_main{
    
    width: 100%;
    padding: 0;

  }
  #main_contain {
    background-color: #eeeeee;
    margin-bottom: 70px;

}


  #holder{
    width: 100%;
    background-image: url("images/sw_home1.jpg");
    background-size: cover;
  }
  .vertical{
    border-color: solid blue;
    height: 1000px;
    /*height: 100%;*/
    /*background-size: contain;*/
    /*background-color: grey;*/
    position: absolute;
  }
  #left{
    display: none;
    /*background-image: url("images/sw_home1.jpg");*/
  }
  #right{
    display: none;
    /*width: 20%;*/
    /*background-image: url("images/sw_home2.jpg");*/
    /*right: 0;
        background-position-x: -37px;
        left: 80%;
    width: 26%;
        background-position-y: -10px;*/
  }
  #mid{
   
    /* background-image: url("images/HomeSW.jpg"); */
    left: 38.5%;
    /* background-size: contain; */
    height: 68em;
    background-color: #E1E1E1;
    /* display: none; */
    display: table;
    max-width: 42%;
    /* background-repeat: no-repeat; */
  }
  #copy{
    width: 90%;
    margin: 0 auto;
    text-align: center;
    font-size: 16px;
    padding-top: 3%;
    height: 100%;
    line-height: 30px;

  }
  span.em{
    
  }
@media(max-width: 768px){
  #mid{
      width: 100%;
      }
}
</style>
<div id="holder">
  <div class="col-sm-5 vertical" id="left">
    <!-- <img src="images/sw_home1.jpg" alt=""> -->
  </div>
  <div class="col-sm-5 vertical" id="mid">

    <div id="copy">
      
<span class="em"><h2>WE ARE</h2></span>
THE EMBODIMENT OF LUXURY— <br/>
UNAPOLOGETIC, UNABASHED, UNCOMPROMISING LUXURY. <br/>
WE ARE THE ROMANCERS OF THE LAVISH. <br/>
THE LOVERS OF THE EXQUISITE. <br/>
THE COURTERS OF THE CONTEMPORARY. <br/>
METICULOUS WITH DETAILS, RELENTLESS WITH QUALITY, <br/>
WE ARE THE NEMESIS OF THE ORDINARY. <br/>
ENABLERS OF THE ELEGANT. <br/>
MOLDERS OF THE MODERN. <br/>
DISCIPLES OF THE PRECISE. <br/>
WE ARE THE GUARDIANS OF OLD-WORLD MASTERY. <br/>
KEEPERS OF VALUES THAT ARE SET IN STONE— <br/>
IN ONYX, IN JASPER, IN AMETHYST. <br/>
A TIGHT-KNIT FAMILY OF PATHOLOGICAL PERFECTIONISTS <br/>
ALL SHARING THE SAME OBSESSION FOR EXCELLENCE, <br/>
PASSING IT DOWN FROM GENERATION TO GENERATION— <br/>
CRAFTSMAN TO CRAFTSMAN, <br/>
ARTISAN TO ARTISAN, DREAMER TO DREAMER. <br/>
ANCHORED BY OUR HISTORY, <br/>
PROPELLED INTO THE FUTURE BY OUR HERITAGE, <br/>
WE ARE HERE TO SHOWER BRILLIANCE UPON THE WORLD, <br/>
TURN ON THE FAUCETS OF IMAGINATION, <br/>
WASH AWAY CONFORMISM. <br/>
WE ARE HERE TO HELP VISIONS TAKE SHAPE, TAKE FLIGHT, <br/>
SAIL THE SEAS OF THE SUBLIME. <br/>
WE ARE PURE AMERICAN SPLENDOR. WE ARE <br/>
<span class="em"><h2>SHERLE WAGNER</h2></span>

    </div>
    
  </div>
  <div class="col-sm-2 vertical" id="right">
    <!-- <img src="images/sw_home2.jpg" alt=""> -->
  </div>
  
</div>