<style type="text/css">
      html { height: 100% }
      body { height: 100%; margin: 0; padding: 0 }
      #map-canvas { height: 100% }

      .item{
        clear: left;
      }
      .folder{
        margin-bottom: 5em;
        border-top: thin solid #eeeeee;
        width: 92%;
      }

  </style>
  <script type="text/javascript"
      src="https://maps.googleapis.com/maps/api/js?key= AIzaSyCimDgFMmcwBv25C0Rp1XtcIv-OS5rbe00&sensor=false">
  </script>
  






<div id="static_wrapper">
  
  <h3 class='static_header'>
    Showrooms
  </h3>
  
<div id="address">
  <p>Regional Offices<br>
  <p>East Coast: 1 - (212) 758-3300</p>
<p>West Coast: 1 - (310) 358-9095</p>
<p>Asia: +86 - 186-8811-0890</p>
<br/>


</div>
  

 <div id="map-canvas" style="width:93%;height:500px"/>
</div>
<div id="us_rooms">
  
  <div id="folder_1" class="folder" style="display: block;"><!-- NORTH AMERICA -->
            <h3>Showrooms in North America:</h3>
            
            <div class="list">              
              <div class="item">
                <div class="hr">&nbsp;</div>
                <span class="area sw">New York, NY</span>
                <h2>Flagship Showroom &amp; Corporate Offices</h2>
                <p class="address">
                  300 East 62nd Street<br>
                  (corner of 62nd Street and 2nd Avenue)<br>
                  New York, New York 10065
                </p>
                <p class="phone">
                  Phone: <span>1 - (212) 758-3300</span><br>
                  Fax: <span>1 - (212) 207-8010</span>
                </p>
                <p class="links">
                  <a href="mailto:info@sherlewagner.com?subject=Showroom">Email Showroom</a><br>
                  <a href="http://maps.google.com/maps?q=Sherle+Wagner+International+Inc,+300+East+62nd+Street,+New+York,+NY&amp;hl=en&amp;sll=40.762158,-73.962738&amp;sspn=0.00672,0.013937&amp;oq=Sherle+Wagner+International,+300+East+&amp;hq=Sherle+Wagner+International+Inc,&amp;hnear=300+E+62nd+St,+New+York,+10065&amp;t=m&amp;z=17&amp;layer=t" title="open Google Maps for Directions" target="_blank">Directions to Showroom<span> — (Google Maps)</span></a>
                </p>
              </div><!-- /item -->
              <div class="item">
                <div class="hr">&nbsp;</div>
                <span class="area sw">Los Angeles, CA</span>
                <h2>West Coast Flagship</h2>
                <p class="address">
                  839 N. La Cienega Blvd<br>
                  Los Angeles, CA 90069
                </p>
                <p class="phone">
                  Phone: <span>1 - (310) 358-9095</span><br>
                  Fax: <span>1 - (310) 358-9091</span>
                </p>
                <p class="links">
                  <a href="mailto:cg@sherlewagner.com?subject=Showroom">Email Showroom</a><br>
                  <!--<a href="http://maps.google.com/maps?q=Sherle+Wagner+International+Inc,+300+East+62nd+Street,+New+York,+NY&hl=en&sll=40.762158,-73.962738&sspn=0.00672,0.013937&oq=Sherle+Wagner+International,+300+East+&hq=Sherle+Wagner+International+Inc,&hnear=300+E+62nd+St,+New+York,+10065&t=m&z=17&layer=t" title="open Google Maps for Directions" target="_blank">Directions to Showroom<span> — (Google Maps)</span></a>-->
                </p>
              </div><!-- /item -->
              <div class="item">
                <div class="hr">&nbsp;</div>
                <span class="area sw">Dania, FL</span>
                <h2>Design Center of the Americas</h2>
                <p class="address">
                  1855 Griffin Road-DCOTA<br>
                  C-166<br>
                  Dania, FL 33004
                </p>
                <p class="phone">
                  Phone: <span>1 - (954) 927-1212</span><br>
                  Fax: <span>1 - (954) 927-1232</span>
                </p>
                <p class="links">
                  <a href="mailto:info@sherlewagner.com?subject=Showroom">Email Showroom</a><br>
                  <!--<a href="xxxxxx" title="open Google Maps for Directions" target="_blank">Directions to Showroom<span> — (Google Maps)</span></a>-->
                </p>
              </div><!-- /item -->
              <div class="item">
                <div class="hr">&nbsp;</div>
                <span class="area sw">Dallas, TX</span>
                <h2>Dallas Design District</h2>
                <p class="address">
                  1025 Slocum Street<br>
                  Dallas, TX 75207
                </p>
                <p class="phone">
                  Phone: <span>1 - (214) 747-7200</span><br>
                  Fax: <span>1 - (214) 747-7202</span>
                </p>
                <p class="links">
                  <a href="mailto:info@sherlewagner.com?subject=Showroom">Email Showroom</a><br>
                  <!--<a href="xxxxxx" title="open Google Maps for Directions" target="_blank">Directions to Showroom<span> — (Google Maps)</span></a>-->
                </p>
              </div><!-- /item -->
              <div class="item">
                <div class="hr">&nbsp;</div>
                <span class="area sw">Houston, TX</span>
                <h2>Decorative Center of Houston</h2>
                <p class="address">
                  5120 Woodway Drive<br>
                  Suite 1014<br>
                  Houston, TX 77056
                </p>
                <p class="phone">
                  Phone: <span>1 - (713) 871-1608</span><br>
                  Fax: <span>1 - (713) 871-1614</span>
                </p>
                <p class="links">
                  <a href="mailto:info@sherlewagner.com?subject=Showroom">Email Showroom</a><br>
                  <!--<a href="xxxxxx" title="open Google Maps for Directions" target="_blank">Directions to Showroom<span> — (Google Maps)</span></a>-->
                </p>
              </div><!-- /item -->
              
              <div class="clear"></div>
              <p>Representative Showrooms</p>
              <div class="item">
                <div class="hr">&nbsp;</div>
                <span class="area">Phoenix, AZ — Representative Showroom</span>
                <h2>Central Arizona Supply</h2>
                <p class="address">
                  4750 N. 16th Street<br>
                  Phoenix, AZ 85014
                </p>
                <p class="phone">
                  Phone: <span>1 - (602) 943-3488</span>
                </p>
                <p class="links">
                  <a href="http://www.centralazsupply.com/" target="_blank" title="Representative Showroom Website">www.centralazsupply.com</a><br>         
                  <a href="mailto:rons@centralazsupply.com?subject=Showroom">Email Showroom</a><br>
                  <!--<a href="xxxxxx" title="open Google Maps for Directions" target="_blank">Directions to Showroom<span> — (Google Maps)</span></a>-->
                </p>
              </div><!-- /item -->
              <div class="item">
                <div class="hr">&nbsp;</div>
                <span class="area">Scottsdale, AZ — Representative Showroom</span>
                <h2>Central Arizona Kitchen &amp; Bath Studio</h2>
                <p class="address">
                  16431 N. 90th Street<br>
                  Scottsdale, AZ  85260
                </p>
                <p class="phone">
                  Phone: <span>1 - (480) 922-9191</span>
                </p>
                <p class="links">
                  <a href="http://www.centralazsupply.com/" target="_blank" title="Representative Showroom Website">www.centralazsupply.com</a><br>
                  <a href="mailto:rons@centralazsupply.com?subject=Showroom">Email Showroom</a><br>
                  <!--<a href="xxxxxx" title="open Google Maps for Directions" target="_blank">Directions to Showroom<span> — (Google Maps)</span></a>-->
                </p>
              </div><!-- /item -->
              <div class="item">
                <div class="hr">&nbsp;</div>
                <span class="area">Beverly Hills, CA — Representative Showroom</span>
                <h2>Carter Hardware</h2>
                <p class="address">
                  153 N. Robertson Blvd.<br>
                  Beverly Hills, CA 90211<br>
                </p>
                <p class="phone">
                  Phone: <span>1 - (310) 657-1940</span>
                </p>
                <p class="links">
                  <a href="http://www.carterhardware.com" target="_blank" title="Representative Showroom Website">www.carterhardware.com</a><br>
                  <a href="mailto:TCarter@carterhardware.com?subject=Showroom">Email Showroom</a><br>
                  <!--<a href="xxxxxx" title="open Google Maps for Directions" target="_blank">Directions to Showroom<span> — (Google Maps)</span></a>-->
                </p>
              </div><!-- /item -->
              <div class="item">
                <div class="hr">&nbsp;</div>
                <span class="area">Irvine, CA — Representative Showroom</span>
                <h2>B&amp;C Custom Hardware &amp; Bath</h2>
                <p class="address">
                  32 Tesla<br>
                  Irvine, CA 92618
                </p>
                <p class="phone">
                  Phone: <span>1 - (949) 859-6073</span><br>
                </p>
                <p class="links">
                  <a href="mailto:rw@customhardware.net?subject=Showroom">Email Showroom</a><br>
                  <!--<a href="xxxxxx" title="open Google Maps for Directions" target="_blank">Directions to Showroom<span> — (Google Maps)</span></a>-->
                </p>
              </div><!-- /item -->
              <div class="item">
                <div class="hr">&nbsp;</div>
                <span class="area">Laguna Niguel, CA — Representative Showroom</span>
                <h2>B&amp;C Select</h2>
                <p class="address">
                  Laguna Design Center<br>
                  23811 Aliso Creek Road<br>
                  Suite 155<br>
                  Laguna Niguel, CA 92677<br>
                </p>
                <p class="phone">
                  Phone: <span>1 - (949) 362-8160</span><br>
                </p>
                <p class="links">
                  <a href="mailto:rw@customhardware.net?subject=Showroom">Email Showroom</a><br>
                  <!--<a href="xxxxxx" title="open Google Maps for Directions" target="_blank">Directions to Showroom<span> — (Google Maps)</span></a>-->
                </p>
              </div><!-- /item -->
              <div class="item">
                <div class="hr">&nbsp;</div>
                <span class="area">San Francisco, CA — Representative Showroom</span>
                <h2>Hadleigh Home</h2>
                <p class="address">
                  101 Henry Adams Street #245<br>
                  San Francisco, CA 94103
                </p>
                <p class="phone">
                  Phone: <span>1 - (415) 863-8815</span>
                </p>
                <p class="links">
                  <!--<a href="http://www.wroolie.com" target="_blank" title="Representative Showroom Website">www.wroolie.com</a><br />-->
                  <a href="mailto:Leslie@Hadleighhome.com?subject=Showroom">Leslie@Hadleighhome.com</a><br>
                  <a href="mailto:Sandra@Hadleighhome.com?subject=Showroom">Sandra@Hadleighhome.com</a><br>
                  <a href="mailto:Gloria@Hadleighhome.com?subject=Showroom">Gloria@Hadleighhome.com</a><br>
                  <!--<a href="xxxxxx" title="open Google Maps for Directions" target="_blank">Directions to Showroom<span> — (Google Maps)</span></a>-->
                </p>
              </div><!-- /item -->
              <div class="item">
                <div class="hr">&nbsp;</div>
                <span class="area">Woodland Hills, CA — Representative Showroom</span>
                <h2>Renaissance Design Center</h2>
                <p class="address">
                  22531 Ventura Blvd<br>
                  Woodland Hills, CA 91364
                </p>
                <p class="phone">
                  Phone: <span>1 - (818) 222-2771</span>
                </p>
                <p class="links">
                  <a href="http://www.renaissancemolding.com/" target="_blank" title="Representative Showroom Website">www.renaissancemolding.com</a><br>
                  <a href="mailto:garye@renmolding.com?subject=Showroom">Email Showroom</a><br>
                  <!--<a href="xxxxxx" title="open Google Maps for Directions" target="_blank">Directions to Showroom<span> — (Google Maps)</span></a>-->
                </p>
              </div><!-- /item -->
              <div class="item">
                <div class="hr">&nbsp;</div>
                <span class="area">Washington, D.C. — Representative Showroom</span>
                <h2>W.T. Weaver &amp; Sons, Inc.</h2>
                <p class="address">
                  1208 Wisconsin Avenue, N.W.<br>
                  Washington, D.C. 20007
                </p>
                <p class="phone">
                  Phone: <span>1 - (202) 333-4200</span>
                </p>
                <p class="links">
                  <a href="http://www.weaverhardware.com/" target="_blank" title="Representative Showroom Website">www.weaverhardware.com</a><br>
                  <a href="mailto:mikew@weaverhardware.com?subject=Showroom">Email Showroom</a><br>
                  <!--<a href="xxxxxx" title="open Google Maps for Directions" target="_blank">Directions to Showroom<span> — (Google Maps)</span></a>-->
                </p>
              </div><!-- /item -->
              <div class="item">
                <div class="hr">&nbsp;</div>
                <span class="area">Atlanta, GA — Representative Showroom</span>
                <h2>European Sink Atlanta</h2>
                <p class="address">
                  2655 Buford Highway<br>
                  Atlanta, GA 30324
                </p>
                <p class="phone">
                  Phone: <span>1 - (770) 936-0512</span>
                </p>
                <p class="links">
                  <a href="http://www.europeansinkatlanta.com/" target="_blank" title="Representative Showroom Website">www.europeansinkatlanta.com</a><br>
                  <a href="mailto:chrisb@europeansinkatlanta.com?subject=Showroom">Email Showroom</a><br>
                  <!--<a href="xxxxxx" title="open Google Maps for Directions" target="_blank">Directions to Showroom<span> — (Google Maps)</span></a>-->
                </p>
              </div><!-- /item -->
              <div class="item">
                <div class="hr">&nbsp;</div>
                <span class="area">Chicago, IL — Representative Showroom</span>
                <h2>Hydrology</h2>
                <p class="address">
                  435 N. LaSalle Street<br>
                  Chicago, IL 60654
                </p>
                <p class="phone">
                  Phone: <span>1 - (312) 832-9000</span>
                </p>
                <p class="links">
                  <a href="mailto:john.colman@sherlewagner.com?subject=Showroom">Email Showroom</a><br>
                  <!--<a href="xxxxxx" title="open Google Maps for Directions" target="_blank">Directions to Showroom<span> — (Google Maps)</span></a>-->
                </p>
              </div><!-- /item -->
              <div class="item">
                <div class="hr">&nbsp;</div>
                <span class="area">Raleigh, NC — Representative Showroom</span>
                <h2>Wilkinson Supply Co.</h2>
                <p class="address">
                  3300 Bush Street<br>
                  Raleigh, NC 27609
                </p>
                <p class="phone">
                  Phone: <span>1 - (919) 834-0395</span>
                </p>
                <p class="links">
                  <a href="mailto:swarren@wilkinsonsupplyco.com?subject=Showroom">Email Showroom</a><br>
                  <!--<a href="xxxxxx" title="open Google Maps for Directions" target="_blank">Directions to Showroom<span> — (Google Maps)</span></a>-->
                </p>
              </div><!-- /item -->
              <div class="item">
                <div class="hr">&nbsp;</div>
                <span class="area">Las Vegas, NV — Representative Showroom</span>
                <h2>European Bath, Kitchen, Tile, Stone</h2>
                <p class="address">
                  Flamingo West Center<br>
                  4050 South Decatur<br>
                  Las Vegas, NV 89103
                </p>
                <p class="phone">
                  Phone: <span>1 - (702) 873-8600</span>
                </p>
                <p class="links">
                  <a href="http://www.europeansb.com/" target="_blank" title="Representative Showroom Website">www.europeansb.com</a><br>
                  <a href="mailto:gigi.shinn@europeanlv.com?subject=Showroom">Email Showroom</a><br>
                  <!--<a href="xxxxxx" title="open Google Maps for Directions" target="_blank">Directions to Showroom<span> — (Google Maps)</span></a>-->
                </p>
              </div><!-- /item -->
              <div class="item">
                <div class="hr">&nbsp;</div>
                <span class="area">Long Island, NY — Representative Showroom</span>
                <h2>Fancy Fixtures</h2>
                <p class="address">
                  200 Robbins Lane<br>
                  Suite F<br>
                  Jericho, NY 11753
                </p>
                <p class="phone">
                  Phone: <span>1 - (312) 832-9000</span>
                </p>
                <p class="links">
                  <a href="http://www.fancyfixtures.net/" target="_blank" title="Representative Showroom Website">www.fancyfixtures.net</a><br>
                  <a href="mailto:fancyfixtures@aol.com?subject=Showroom">Email Showroom</a><br>
                  <!--<a href="xxxxxx" title="open Google Maps for Directions" target="_blank">Directions to Showroom<span> — (Google Maps)</span></a>-->
                </p>
              </div><!-- /item -->
              <div class="item">
                <div class="hr">&nbsp;</div>
                <span class="area">Ontario, Canada — Representative Showroom</span>
                <h2>Canaroma Bath &amp; Tile</h2>
                <p class="address">
                  7979 Weston Road<br>
                  Vaughan, ON L4L 1A6
                </p>
                <p class="phone">
                  Phone: <span>1 - (905) 856-7979</span>
                </p>
                <p class="links">
                  <a href="http://www.canaroma.com/" target="_blank" title="Representative Showroom Website">www.canaroma.com</a><br>
                  <a href="mailto:Anthony@canaroma.com?subject=Showroom">Email Showroom</a><br>
                  <!--<a href="xxxxxx" title="open Google Maps for Directions" target="_blank">Directions to Showroom<span> — (Google Maps)</span></a>-->
                </p>
              </div><!-- /item -->
              <div class="clear">&nbsp;</div>
            </div><!-- /list -->
          </div>

          <div id="folder_2" class="folder"><!-- ASIA -->
            <h3>Showrooms in Asia:</h3>
           
            <div class="list">
              <div class="item">
                <div class="hr">&nbsp;</div>
                <span class="area sw">China — International</span>
                <h2>Sherle Wagner International - Asia</h2>
                <!--<p class="address">
                  xxxxx<br />
                  xxxxx<br />
                  xxxxx
                </p>-->
                <p class="phone">
                  Phone: <span>+86 - 186-8811-0890</span>
                </p>
                <p class="links">
                  <a href="mailto:john.hu@sherlewagner.com?subject=Showroom">Email Showroom</a><br>
                  <!--<a href="xxxxxx" title="open Google Maps for Directions" target="_blank">Directions to Showroom<span> — (Google Maps)</span></a>-->
                </p>
              </div><!-- /item -->
              
              
              
              
              <div class="clear"></div>
              <p>Representative Showrooms</p>
              <div class="item">
                <div class="hr">&nbsp;</div>
                <span class="area">Beijing, China — International Showroom</span>
                <h2>Beijing Showroom</h2>
                <p class="address">
                  Yangguangshangdong, No. 6<br>
                                    Fangyuan South Street<br>
                                    Dongsihuan North Road<br>
                                    Chaoyang District, Beijing, China
                </p>
                <p class="phone">
                  Phone: <span>+86 - 186-8811-0890</span>
                </p>
                <p class="links">
                  <a href="mailto:john.hu@sherlewagner.com?subject=Showroom">Email Showroom</a><br>
                  <!--<a href="xxxxxx" title="open Google Maps for Directions" target="_blank">Directions to Showroom<span> — (Google Maps)</span></a>-->
                </p>
              </div><!-- /item -->
              <div class="item">
                <div class="hr">&nbsp;</div>
                <span class="area">Hangzhou, China — International Showroom</span>
                <h2>Hangzhou Elin Furniture Company</h2>
                <p class="address">
                  Derlook, No. 1088<br>
                  Jiangnan Road,<br>
                  Bingjiang District<br>
                  Hangzhou, China 311100
                </p>
                <p class="phone">
                  Phone: <span>+86 - 186-8811-0890</span>
                </p>
                <p class="links">
                  <a href="mailto:john.hu@sherlewagner.com?subject=Showroom">Email Showroom</a><br>
                  <!--<a href="xxxxxx" title="open Google Maps for Directions" target="_blank">Directions to Showroom<span> — (Google Maps)</span></a>-->
                </p>
              </div><!-- /item -->
              <div class="item">
                <div class="hr">&nbsp;</div>
                <span class="area">Dalian, China — International Showroom</span>
                <h2>Dalian Euro Impact Sanitary Products Co., Ltd.</h2>
                <p class="address">
                  No. 4, Wuyi Square<br>
                  Shahekou District<br>
                  Dalian, China 116011
                </p>
                <p class="phone">
                  Phone: <span>+86 - 186-8811-0890</span>
                </p>
                <p class="links">
                  <a href="mailto:john.hu@sherlewagner.com?subject=Showroom">Email Showroom</a><br>
                  <!--<a href="xxxxxx" title="open Google Maps for Directions" target="_blank">Directions to Showroom<span> — (Google Maps)</span></a>-->
                </p>
              </div><!-- /item -->
              
              

              
              
              
              
              <div class="item">
                <div class="hr">&nbsp;</div>
                <span class="area">Hong Kong — International Showroom</span>
                <h2>Belfry Echo</h2>
                <p class="address">
                  Shop F,G/F,Bright Star Mansion,<br>
                  95-97 Leighton Rd.<br>
                  Causeway Bay H.K.<br>
                </p>
                <p class="phone">
                  Phone: <span>+852-2115-3338</span><br>
                  
                </p>
                <p class="links">
                  <a href="mailto:info@belfryecho.com?subject=Showroom">Email Showroom</a><br>
                  <!--<a href="xxxxxx" title="open Google Maps for Directions" target="_blank">Directions to Showroom<span> — (Google Maps)</span></a>-->
                </p>
              </div><!-- /item -->
              
              
              
              <div class="item">
                <div class="hr">&nbsp;</div>
                <span class="area">Mumbai, India — International Showroom</span>
                <h2>Sherle Wagner at The Oberoi</h2>
                <p class="address">
                  25 Oberoi Shopping Center<br>
                  Nariman Point, Mumbai<br>
                </p>
                <p class="phone">
                  Phone: <span>91-22-22042277</span><br>
                  Phone: <span>91-22-24940776</span>
                </p>
                <p class="links">
                  <a href="mailto:aa@praventures.com?subject=Showroom">Email Showroom</a><br>
                  <!--<a href="xxxxxx" title="open Google Maps for Directions" target="_blank">Directions to Showroom<span> — (Google Maps)</span></a>-->
                </p>
              </div><!-- /item -->
              
              
              
              
              
              <div class="clear">&nbsp;</div>
            </div><!-- /list -->
          </div>


          <div id="folder_3" class="folder" style="display: block;"><!-- RUSSIA -->
            <h3>Showrooms in Russia:</h3>
            
            <div class="list">
              <div class="item">
                <div class="hr">&nbsp;</div>
                <span class="area">Moscow — International</span>
                <h2>AB Home</h2>
                <p class="address">
                  Olimpisky avenue 30/1  Moscow  129272<br>
                  Russian Federation
                </p>
                <p class="phone">
                  Phone: <span>+7 (495) 631-61-69</span><br>
                </p>
                <p class="links">
                  <a href="http://www.salonbravo.ru/" target="_blank" title="International Showroom Website">www.salonbravo.ru</a><br>
                  <a href="mailto:info@abhome.ru?subject=Showroom">Email Showroom</a><br>
                  <!--<a href="xxxxxx" title="open Google Maps for Directions" target="_blank">Directions to Showroom<span> — (Google Maps)</span></a>-->
                </p>
              </div><!-- /item -->
              <div class="clear">&nbsp;</div>
            </div><!-- /list -->
          </div>

          <div id="folder_4" class="folder"><!-- MIDDLE-EAST -->
            <h3>Showrooms in Europe and the Middle East:</h3>
           
            <div class="list">
              <div class="item">
                <p style="margin-top:20px;">Representative Showrooms</p>
                <div class="hr">&nbsp;</div>
                <span class="area">UAE — International Showroom</span>
                <h2>Paradosso7 Trading LLC</h2>
                <p class="address">
                  PO Box 123857 Dubai<br>
                  UAE
                </p>
                <p class="phone">
                  Phone: <span>+971 4 388 12 69</span><br>
                  Phone: <span>+971 4 388 18 17</span><br>
                  Mobile: <span>+971 55 107 85 22</span>
                </p>
                <p class="links">
                  <a href="raphael@paradosso7.com?subject=Showroom">Email Showroom</a><br>
                  <!--<a href="xxxxxx" title="open Google Maps for Directions" target="_blank">Directions to Showroom<span> — (Google Maps)</span></a>-->
                </p>
              </div><!-- /item -->
              <div class="item">
                <p style="margin-top:20px;">&nbsp;</p>
                <div class="hr">&nbsp;</div>
                <span class="area">Kuwait — International Showroom</span>
                <h2>Al Bibi Est.</h2>
                <p class="address">
                  Al Bibi Est.<br>
                  Salem Mubarak Street<br>
                  P.O Box 8944<br>
                  Salmiya, Code no. 22060 Kuwait
                </p>
                <p class="phone">
                  Phone: <span>+965 - 2 574 90 20</span><br>
                  Fax: <span>+965 - 2 574 90 10</span>
                </p>
                <p class="links">
                  <a href="mailto:al_bibi@hotmail.com?subject=Showroom">Email Showroom</a><br>
                  <!--<a href="xxxxxx" title="open Google Maps for Directions" target="_blank">Directions to Showroom<span> — (Google Maps)</span></a>-->
                </p>
              </div><!-- /item -->
              <div class="item">
                <p style="margin-top:20px;">&nbsp;</p>
                <div class="hr">&nbsp;</div>
                <span class="area">Turkey — International Showroom</span>
                <h2>Onalanlar Yapi Malz. Ins. Ve. Tic</h2>
                <p class="address">
                  Ortaklar Cad. No: 1434387<br>
                  Mecidiyekoy, Istanbul<br>
                  Turkey
                </p>
                <p class="phone">
                  Phone: <span>+90 - 212-3470171</span>
                </p>
                <p class="links">
                  <a href="http://www.onalanlaryapi.com.tr" target="_blank" title="International Showroom Website">www.onalanlaryapi.com.tr</a><br>
                  <a href="mailto:ozden@onalanlaryapi.com.tr?subject=Showroom">Email Showroom</a><br>
                  <!--<a href="xxxxxx" title="open Google Maps for Directions" target="_blank">Directions to Showroom<span> — (Google Maps)</span></a>-->
                </p>
              </div><!-- /item -->
              <div class="clear">&nbsp;</div>
            </div><!-- /list -->
          </div>
</div>
</div>

