
  <h1>Compilation</h1>
  <h2><%= @compilation.name %></h2>
  <h3><%= @compilation.number %></h3>
  <h2>Products</h2>
  <ul>
    <% @compilation.products.each do |product| %>
      <li><%= link_to product.name, product_path(product) %></li>
    <% end %>
  </ul>

