
<style>
  .search_prod_title{
    max-height: 4em;
    
  }
</style>
<div class="prod_wrapper ">
  <div class="list_wrapper">

      <ul class="prod_list">
        <h3 id="subtype_list_name">SEARCH RESULTS:</h3>




        <% @searched.each do |result| %>
          <% bgimage= result.image %>

          <%= link_to result.url do %>
            <li class ="search_prod_tile prod_tile <%= result.name.gsub(' ','_') %>">
              <div class="prod_tile_img" style="background-image: url(<%= bgimage %>); background-size: cover; background-repeat: no-repeat"></div>

              <div class="prod_title search_prod_title">

                <div class="prod_title">

                  <%= result.name %>

                </div>
            </li>

          <% end %>
        <% end %>






      </ul>  
              </div>
  </div>
