
<div class="search_list prod_wrapper"> 



<ul>
  
    <% @searched.each do |prod| %>
    
      <li>
          
        <%= link_to prod.name, prod %> |Searched|<%= prod.product_sub_type.name %> 
        
      </li>

    <% end %>
 
</ul>  
 </div>