<div class="recently-viewed-products">
   Recently viewed products 
  <ul class="recently-viewed-products">
  <% recently_viewed_products.each do |recently_viewed_product| %>
    <li><%= recently_viewed_product %></li>
  <% end %>
  </ul>
</div>

