<div class="recently-viewed-products">
   Recently viewed products 
  <ul class="recently-viewed-list">
  <% recently_viewed_products.each do |recently_viewed_product| %>
    <li class="recent_tile" style="background-image:url(<%= recently_viewed_product.image.url%>); background-size: contain">
      <div class="prod_title">
        <%= link_to recently_viewed_product.name, product_path(recently_viewed_product.id) %>
      </div>
    </li>
  <% end %>
  </ul>
</div>

