<div class=" dropdown">
    <a class=" dropdown-toggle" type="button" data-toggle="dropdown">Recently viewed products
  <!-- <span class="caret"></span> --></a>
  <ul class=" dropdown-menu">
    
  <% recently_viewed_products.each do |recently_viewed_product| %>
    <li class="recent_tile" >
      <div class="prod_title">
         <%= link_to recently_viewed_product.name, product_path(recently_viewed_product.id) %>
        <div class="icon_img" style="background-image:url(<%= recently_viewed_product.image.url%>)"></div>
       
      </div>
      
    </li>
  <% end %>
  </ul>
</div>

