<style>.affix {
      top: 0;
      width: 100%;
  }
  #style_checks{
    
  }
  h3 a#col_name{
    color: #222222;
    
    }
  .checkbox label::before {
    margin-top: 9px; 
  }
  .checkbox label::after{
    margin-top: 9px;
  }
 
  #collections_nav li{
    display: inline-block;
  }

</style>
<nav class="navbar navbar-inverse collection_view_nav" id="collections_nav" data-spy="affix" data-offset-top="105">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
  
      
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="" id="style_checks">
      <h3 id="collection_name"><a href="" id="col_name"><%= @style.name %></a></h3>

      <ul class="nav navbar-nav">
        <li>
          <div class="checkbox">


            <input type="checkbox" class="nav_check" value="" id="2">
            <label for="2">Fittings</label>
          </div>
        </li>
        <li>
          <div class="checkbox">


            <input type="checkbox" class="nav_check" value="" id="3">
            <label for="3">Fixtures</label>
          </div>
        </li>
        <li>
          <div class="checkbox">


            <input type="checkbox" class="nav_check" value="" id="4">
            <label for="4">Accesories</label>
          </div>
        </li>
        <li>
          <div class="checkbox">


            <input type="checkbox" class="nav_check" value="" id="5">
            <label for="5">Hardware</label>
          </div>
        </li>
        <li>
          <div class="checkbox">


            <input type="checkbox" class="nav_check chk" value="" id="6">
            <label for="6">Lighting</label>
          </div>
        </li>

        
      </ul>
      
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
<script>
  // var col_name=$('a#col_name');
  // col_name.click(function(e){
  //   e.preventDefault();
  //   ($('li label').find('input:checked').removeAttr('checked'));
  //   filter_types2();

  // })
</script>