<div class="pg2">

 

       

<div class="container-fluid" id='genre_contain'>  
  <div class="row content">   
    

      <div class="grid">
        <% 10.times do %>
          <% @pics.each do |image| %>
          <% file = image.split('/').last %>
          <% img = "col_img/#{file}" %>
          <% link = file.split('_').first %>
         
          
          
          <a href="/genres/<%= instance_variable_set('@' + link, Genre.where(:name => link.capitalize ).pluck(:id).first) %>">
            <%= image_tag(img, :class => "size-img") %>
        </a>
        
        
        
          <% end %>
        <% end %>
        <!-- <div class="grid-sizer"></div>
        <div class="grid-item"></div>
        <div class="grid-item grid-item--width2 grid-item--height2"></div>
        <div class="grid-item grid-item--height3"></div>
        <div class="grid-item grid-item--height2"></div>
        <div class="grid-item grid-item--width3"></div>
        <div class="grid-item"></div>
        <div class="grid-item"></div>
        <div class="grid-item grid-item--height2"></div>
        <div class="grid-item grid-item--width2 grid-item--height3"></div>
        <div class="grid-item"></div>
        <div class="grid-item grid-item--height2"></div>
        <div class="grid-item"></div>
        <div class="grid-item grid-item--width2 grid-item--height2"></div>
        <div class="grid-item grid-item--width2"></div>
        <div class="grid-item"></div>
        <div class="grid-item grid-item--height2"></div>
        <div class="grid-item"></div>
        <div class="grid-item"></div>
        <div class="grid-item grid-item--height3"></div>
        <div class="grid-item grid-item--height2"></div>
        <div class="grid-item"></div>
        <div class="grid-item"></div>
        <div class="grid-item grid-item--height2"></div> -->
      </div>



    

  </div>
</div>



</div>

  <script>
  $('.nav-wrap').css('display','none');
  $('#main_content').css('background-color','white');
$('.content').css('background-color','white');
//   $('.grid').masonry({
//   // options
//   itemSelector: '.grid-item',
//   columnWidth: 200
// });
  $('.grid').masonry({
  itemSelector: '.grid-item',
  columnWidth: '.grid-sizer',
  percentPosition: true
});
  </script>
  