<div class="pg2">

 

       

<div class="container-fluid" id='genre_contain'>  
  <div class="row content">   
    


    

  </div>
</div>



</div>

  <script>
  $('.nav-wrap').css('display','none');

  $('#main_content').css('background-color','white');
$('.content').css('background-color','white');
//   $('.grid').masonry({
//   // options
//   itemSelector: '.grid-item',
//   columnWidth: 200
// });
  $('.grid').masonry({
  itemSelector: '.grid-item',
  columnWidth: '.grid-sizer',
  percentPosition: true,
  columnWidth: 20%
  
});
  $('.r_col').css('display','none');
  </script>
  