<div class="pg">

 

       

<div class="container-fluid" id='genre_contain'>  
  <div class="row content">   
    <div class="grid">

      <% @pics.each do |image| %>
      <% img = "images/col_img/#{image.split('/').last}" %>
        <div class="grid-item grid-item--width2" id="test" style="background-image:url(<%= img %>)">...</div>
        
        
      <% end %>
    </div>

  </div>
</div>



</div>

  <script>
  $('.nav-wrap').css('display','none');
  $('#main_content').css('background-color','white');
$('.content').css('background-color','white');
  $('.grid').masonry({
  // options
  itemSelector: '.grid-item',
  columnWidth: 200
});
  
  </script>
  <!-- <div class="grid">
      <div class="grid-item">...</div><div class="grid-item">...</div><div class="grid-item">...</div><div class="grid-item">...</div>
      <div class="grid-item grid-item--width2">...</div>
      <div class="grid-item grid-item--width3">...</div>
      <div class="grid-item">...</div>
      <div class="grid-item grid-item--width4">...</div>
      <div class="grid-item">...</div>
      <div class="grid-item grid-item--width4">...</div>
      <div class="grid-item grid-item--width2">...</div>
      <div class="grid-item">...</div>
      <div class="grid-item grid-item--width3">...</div>
      <div class="grid-item grid-item--width2">...</div>
      <div class="grid-item">...</div>
      <div class="grid-item">...</div>
      <div class="grid-item grid-item--width2">...</div>
      <div class="grid-item">...</div>
      <div class="grid-item grid-item--width4">...</div>
      
     </div> -->