<div class="pg">
<div class="styles_wrapper">
       
      
       <% @styles.each do |style| %>
         <% unless style.name == 'no style' %>
           <%=link_to style_path(style) do %> 
            
           <div class="collection_div" id="<%= style.name%>" >
            <%= image_tag("/images/rough_col/#{style.name.downcase}.png", :class => "collection_img") %>
             
           
            
           </div>  
          <% end %>
              
         <% end %>
          
       <% end %>
      

  </div>
  </div>

  <script>
  $('.nav-wrap').css('display','none');

  $('#main_content').css('background-color','white');
$('.content').css('background-color','white');
//   $('.grid').masonry({
//   // options
//   itemSelector: '.grid-item',
//   columnWidth: 200
// });
//   $('.grid').masonry({
//   itemSelector: '.grid-item',
//   columnWidth: '.grid-sizer',
//   percentPosition: true,
//   columnWidth: 20%
  
// });
  $('.r_col').css('display','none');
  </script>
  