<div class="pg">
<div class="styles_wrapper">
  
       
      
       
      
 <div class="grid">
  <div class="grid-item">...</div>
  <div class="grid-item grid-item--width2">...</div>
  <div class="grid-item">...</div>
  <div class="grid-item">...</div>
  <div class="grid-item grid-item--width2">...</div>
  <div class="grid-item">...</div>

  <div class="grid-item grid-item--width2">...</div>
  <div class="grid-item">...</div>
  <div class="grid-item">...</div>
  <div class="grid-item grid-item--width2">...</div>
  <div class="grid-item">...</div>
  
</div>




  </div>
  </div>

  <script>
  $('.nav-wrap').css('display','none');
  $('#main_content').css('background-color','white');
$('.content').css('background-color','white');
  $('.grid').masonry({
  // options
  itemSelector: '.grid-item',
  columnWidth: 200
});
  
  </script>