
<div class="styles_wrapper">

     
    
     <% @genres.each do |genre| %>
       <% unless genre.name == 'No genre' %> 
        <h3>
          <%= genre.name %> <br/>
        </h3>
            

            
       <% end %>
        
     <% end %>
    </ul>
  </div>

  <script>
  $('.side_nav').css('display','none');
  </script>