
<div class="styles_wrapper">

     
    
     <% @genres.each do |genre| %>
       <% unless genre.name == 'No genre' %> 
       <div class="style_div" id="<%= genre.name%>">
        <h3>
          <%= genre.name %> <br/>
        </h3>
       </div>  

            
       <% end %>
        
     <% end %>
    </ul>
  </div>

  <script>
  $('.side_nav').css('display','none');
  </script>