<div class="pg2">

 

       

<div class="container-fluid" id='genre_contain'>  
  <div class="row content">   
    

      <div class="grid">
        <div class="grid-sizer"></div>
        <div class="grid-item"></div>
        <div class="grid-item grid-item--width2 grid-item--height2"></div>
        <div class="grid-item grid-item--height3"></div>
        <div class="grid-item grid-item--height2"></div>
        <div class="grid-item grid-item--width3"></div>
        <div class="grid-item"></div>
        <div class="grid-item"></div>
        <div class="grid-item grid-item--height2"></div>
        <div class="grid-item grid-item--width2 grid-item--height3"></div>
        <div class="grid-item"></div>
        <div class="grid-item grid-item--height2"></div>
        <div class="grid-item"></div>
        <div class="grid-item grid-item--width2 grid-item--height2"></div>
        <div class="grid-item grid-item--width2"></div>
        <div class="grid-item"></div>
        <div class="grid-item grid-item--height2"></div>
        <div class="grid-item"></div>
        <div class="grid-item"></div>
        <div class="grid-item grid-item--height3"></div>
        <div class="grid-item grid-item--height2"></div>
        <div class="grid-item"></div>
        <div class="grid-item"></div>
        <div class="grid-item grid-item--height2"></div>
      </div>



    

  </div>
</div>



</div>

  <script>
  $('.nav-wrap').css('display','none');
  $('#main_content').css('background-color','white');
$('.content').css('background-color','white');
//   $('.grid').masonry({
//   // options
//   itemSelector: '.grid-item',
//   columnWidth: 200
// });
  $('.grid').masonry({
  itemSelector: '.grid-item',
  columnWidth: '.grid-sizer',
  percentPosition: true
});
  </script>
  <!-- <div class="grid">
      <div class="grid-item">...</div><div class="grid-item">...</div><div class="grid-item">...</div><div class="grid-item">...</div>
      <div class="grid-item grid-item--width2">...</div>
      <div class="grid-item grid-item--width3">...</div>
      <div class="grid-item">...</div>
      <div class="grid-item grid-item--width4">...</div>
      <div class="grid-item">...</div>
      <div class="grid-item grid-item--width4">...</div>
      <div class="grid-item grid-item--width2">...</div>
      <div class="grid-item">...</div>
      <div class="grid-item grid-item--width3">...</div>
      <div class="grid-item grid-item--width2">...</div>
      <div class="grid-item">...</div>
      <div class="grid-item">...</div>
      <div class="grid-item grid-item--width2">...</div>
      <div class="grid-item">...</div>
      <div class="grid-item grid-item--width4">...</div>
      
     </div> -->