
<div class="prod_wrapper">
  <div class="list_wrapper">
    <ul class="style_list prod_list">
      <h3 id="subtype_list_name"><%= @style.name %> </h3>
      <% @genre.products.each do |product| %>
       <% bgimage= product.image.url(:medium) %>
<%= link_to(product_path(product), class:"prod_title_link")  do %>
 <%= image_tag(product.image.url(:medium)) %>
<% end %>


      <% end %>
    </ul>
  </div>
  
</div>

<script>
  // $('.side_nav').css('display','none');
  $('#content_wrapper').css('background-color','white');
  $('#content_wrapper').css('box-shadow','none');
  $('#content_wrapper').css('width','100%');
  $('body').css('background-color','white');
  $('#l_nav').css('display','none');
  $('#r_col').css('display','none');
  $('#center_main').removeClass('col-lg-8');
  $('#center_main').removeClass('col-sm-8');
  $('#center_main').addClass('col-sm-12');
  $('#center_main').css('background-color','white');


  </script>