<div class="row regions">
<ul>

<% @regions.each do |region| %>
  <li>
    <h3>
      <%= link_to region.name, showrooms_path(anchor: region.name) %>
    </h3>
  </li>
<% end %>
</ul>
</div>

<% @regions.each do |region| %>
  <div class="showrooms-list row">
    <%= content_tag(:h3, "Showrooms in #{region.name}", name: region.name) %>
    <div class="row ">
      <% region.showrooms.each do |showroom| %>
        <%= render showroom %>
      <% end %>
    </div>
  </div>
<% end %>

