<div class="row regions">
<ul>

<% @regions.each do |region| %>
  <li>
    <h3>
      <%= region.name %>
    </h3>
  </li>
<% end %>
</ul>
</div>

<% @regions.each do |region| %>
  <div class="showrooms-list row">
    <h3>Showrooms in <%= region.name %></h3>
    <div class="row ">
      <% region.showrooms.each do |showroom| %>
        <%= render showroom %>
      <% end %>
    </div>
  </div>
<% end %>

