<h1>The Product Groups</h1>
<%=link_to "Upload product file", products_upload_page_path %>
<ul>
  <%= @product_groups.each do |product_group| %>
    <li><%=link_to product_group.name, product_group_path(product_group.id) %></li>
  <% end %>
</ul>

