"This email is sent from Sherle Wagner."
<p>
Email : <%= @requesters_email %>
</p>
<p>
Location: <%= @requesters_location %>
</p>

favorites:
<% @favorites.each do |fav| %>
  <p><%= fav %></p>
<% end %>
