.grid{
  margin-top: 2em;
}
.grid-item { width: 200px;
  /*border: solid black;*/
  height: 75px;
 }
.grid-item--width2 { width: 400px;
 /*border: solid grey;*/
 height: 150px;
}

.grid-item--width3 { width: 200px;
 /*border: solid grey;*/
 height: 300px;
}
.grid-item--width4 { width: 200px;
 /*border: solid grey;*/
 height: 150px;
}