body .container {
  

}

/*=====header nav====*/
#top-navigation{
  background-color: black;
  color: grey;
}
#title {
  float: left;
}

/*====The product browse page===*/
.prod_wrapper {
 width:80%;
 float: right;
 clear: right;
 display: block;
 margin-top: 5.5em;
}
.prod_list{
  list-style: none;

}
.prod_tile{
  padding: 0.5em;
  text-align: center;
  display:block;
  
  float:left;
  color: red;
  height:19em;
  width: 19em;
  border: 1px solid grey;
  border-radius: 3px;
  margin:3px;


}
.searcher{
  float: right;
  margin-right: 0;
}

/*===Side Nav ===*/

.side-nav-contain {
  float: left;
  margin: 2%;
  width:15%;
  margin-top: 5em;
  position:fixed; top:20;
  overflow-y: scroll;
  background-color: white;
  height: 100%;
  
}
.nav-wrap {
  float:left;
  width: 100%;
  margin-left: 2em;
  padding: 5px;
}
.navvy .panel-default>.panel-heading{
  background-color: white;
  border: none;
}
.navvy .panel{
  margin-bottom: 0;/*20px;*/
  background-color: white: ; 
  border: none; 
  border-radius: none;
  -webkit-box-shadow: none;/*0 1px 1px rgba(0,0,0,0.05)*/
  box-shadow: none; /*0 1px 1px rgba(0,0,0,0.05) */
}
}
/*media="all"
.panel-group { 
    margin-bottom: 2px;
}*/
/*===Product page ===*/
li.highlighted{
  border: thin solid black;
}
