body{
  font-family: 'PT Sans', sans-serif;
  background-color: #e5e6df;
}

/*=====header nav====*/
.navbar-inner{
  height:10em;
}
.navbar-inner .container{
  padding-top:2em;
  height:100%;
}

#top-navigation{
  background-color: #353535;
  color: #e2e7e2;

}
#title_contain h1{
  position: absolute;
  font-size: x-large;
  font-weight: bold;
  left: 65px;
  color: #e2e7e2;

}
#title_link a{
  /*text-decoration: none;*/
  color:inherit;
}
input.button{
  background-color:#353535;
  border: none;
  margin-top:0.2em;
}
input#search{
  background-color:#353535;
  border-radius: 3px;
  box-shadow: none;
}
.searcher{
  float: right;
  margin-right: 0;
  margin-top: 1em;
}

/*NAV BUTTONS*/
ul.nav{
  
}
.nav li{
  padding-right: 8em;

}
.nav{
  display: inline-flex;
  position: absolute;
  top:75%;
  left:20%;
  
}
.nav ul{
  font-family: 'PT Sans', sans-serif;
  

}
.nav li h4{
  color: #e2e7e2;

}
.nav>li>a{
  padding: 0 15px;
}
.nav li a:hover{
  background-color: rgba(0,0,0,0);
  /*text-decoration: underline;
   -moz-text-decoration-color: white; /* Code for Firefox */
  border-bottom: 1px solid grey;

}
.nav li a:visited{
  background-color: #353535;
  

}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    background-color:rgba(0,0,0,0);
    
}

/*====The product browse page===*/
#content_wrapper {
  background-color: #F5F5F5;
  width: 70%;
  height: inherit;
  min-height: 100%;
  float: left;
  min-width: 1000px;
  max-width: 1050px;
  clear: right;
  display: block;
  padding-top: 11.5em;
  padding-bottom: 5em;
  margin: 0 auto;
  position: absolute;
  left: 250px;
  box-shadow: 4px 5px 5px #999999;
 
}

.prod_list{
  list-style: none;
  width:90%;
  margin:auto;

}
.prod_tile{
  background-size: contain;
  background-repeat: no-repeat;
  padding: 0.5em;
  text-align: center;
  display:block;
  background-color: white;
  float:left;
  height: 19.5em;
  width: 15em;
  
  margin: 10px;

  /*for before photos are set*/
      /*background-position: 0 50px;*/

}

ul li.prod_tile .prod_title, ul li.prod_tile .prod_title a{
    display: block;
    margin-top: 110%;
    color: grey;

}

/*===Side Nav ===*/

.side-nav-contain {
  float: left;
  margin: 2%;
  min-width: 275px;
  
  position:fixed; top:20;
  overflow-y: scroll;
  
  height: 100%;
  
}
.nav-wrap {
  float:left;
  width: 80%;
  
  padding: 5px;
}
.nav2{
  
}
.navvy{
  padding-top: 9.5em;
}
.navvy .panel-sub-heading {
  padding-left: 0;
}

.navvy .panel-default>.panel-heading{
  border: none;
}
.navvy .panel{
  margin-bottom: 0;/*20px;*/
  
  border: none; 
  border-radius: none;
  -webkit-box-shadow: none;/*0 1px 1px rgba(0,0,0,0.05)*/
  box-shadow: none; /*0 1px 1px rgba(0,0,0,0.05) */
}
.panel-body {
  padding: 0px 15px;
}
#accordion1 *{
  background-color: #e5e6df;
}
#accordion1 a:link, #accordion1 a:visited{
color: black;
}
#accordion1 .panel-sub-heading .panel-title label{
  margin-left: -15px;
}

.filter ul{
  padding-left: 1em;
}

.filter li{
  list-style: none; 
}

/*media="all"
.panel-group { 
    margin-bottom: 2px;
}*/

/*=============++++ + ++++=============*/

.type-contain{
  margin-top: 1em;
  min-width: 700px;
}

#subtype_list_name{
  padding-left: 0.5em;
  text-transform: uppercase;
  color: grey;
  
}

.list_wrapper{
  width: 95%;
  margin: 0 auto;
}
.list_wrapper ul{
  width: 90%;
  
}
.list_wrapper ul li{
  margin: 1.5em;
}


/*======Sub-type Show Dev ========*/

.sub_type_pane{
  padding: 0.5em;
  text-align: center;
  display:block;
  
  float:left;
  background-color: white;
  /*height:19em;*/
  
  
  border-radius: 3px;
  margin:3px;
  width:90%;

}

a.sub_type_tile_title {
  color:gray;
  
}
.sub_type_tile{
  clear:left;
}

.sub_type_list {
  list-style: none;
  height: 100%;
  margin-top: -2em;
}

.plus_end{
  display: block;
  clear: left;
  float: right;
  }
.right_side{
 
  height: 100%;
  
  float: left;
 /*clear: left;*/
 display: block;
 padding-top: 17em;  
}
.left_side{
  width:15%;
  height: 100%;
  
  float: left;
 /*clear: left;*/
 display: block;
 padding-top: 17em;  
}

/*======Product Show ========*/
/*+++++THE PRODUCT SHOW PAGE++++++*/

li.highlighted{
  border: thin solid black;
}

.prod_page_content{
  width:100%;
  padding-left: 1em;
  padding-top: 1em;
}
.detail_list {
  float:left;
  padding-right: 20px;
}

.images{
  float: left;
  padding-left: 1em;  
  width:50%;
}
#image_div{
  height:43em;
  width: 43em;
  background-image: url("/assets/ex1.png");
}

.product_image{
  width: 99.5%;
  height: 400px;
      background-size: contain;
    background-position-y: 60%;
  float: left;
  margin-right: 3em;
  background-color: white;
    background-repeat: no-repeat;
  
}
.image_list{
  float: left;
  padding-top: 10px;
  clear: both;
  width: 100%;
}

#alt_imgs{
  list-style: none;
  padding-right: 0;
  overflow: auto;
  /*height: auto;*/
  /*width:100%;*/

  
}
.alt_choice{
  opacity: .4;
}
#alt_imgs li{
  
  font-size: 10px;
  float: right;
  margin: 2px;
  margin-right: 0;
  padding:0;
}
.alt_img:hover{
  cursor: pointer;
}
.product_info{
  /*stuff to R of image*/
  float: left;
  padding-left: 1em;
  padding-top: 1em;
  width:44%;
  color: grey;
}
.product_info a{
  color: darkgray;
}
.product_info h3{
  margin-bottom: 2em;

}
.favorite{
  border: 0;
    color: lightgrey;
    background-color: inherit;
    padding: 0;
}

.links{
  padding-top: 2em;
  list-style: none;
  color: darkgray;
  float: left;
}

.options{
  float: left;
  
  clear: left;
}
.option_box{
  width: 4em;
  height: 4em;
  border: 1px solid lightgrey;
  display: inline-block;
  margin-right: 2em;
  vertical-align:top;
    
}
.tearsheet_wrapper{
  padding-top: 7em;
  padding-left: 5em;
 /* margin: 0 auto;
    width: 80%;*/
}
div.tearsheet-form-box {
  
  clear: left;
  
  margin-top: 10px; 
}

.tearsheet-form-box{
  float:left;
  
}
.tear-sheet-submit{
  padding-left: 3em;
  
}



.choice_title{
  padding-left: 5px;
}
.finishes{
  clear: left;
}
.finishes, .materials, .china_colors{
  
  max-width: 50%;
  float: left;
  color: grey;
  padding-left: 1em;

}
.materials, .china_colors {
  

}

.finish_tile{
  width: 4em;
  height: 4em;
  margin: 0.2em;
}
.detail_list{
  padding-left: 0;
}
.swatch_name{
  font-size: 9px;
  color: lightgrey;
  pointer-events: none;
}
.swatch_div{
  display: none;
  pointer-events: none;
  margin-top: -10px;
  position: absolute;
  background-color: white;
  width:6em;
}
.finish_tile:hover .swatch_div{
  display:block;
}

.compilations {
  float: left;
  clear: left;
}
.compilations ul{
  list-style: none;
}
.compilations li{
  padding-left: none;
}

.highlight{
  outline: 2px darkgrey solid;
}
.prod_tile{
  cursor: pointer;
}
/*STYLES PAGE*/
.style_tile{
  width: 22em;
}
.styles_list{
  margin-left: 9%;
}
/*footer*/
.footer {
  position:fixed;
   left:0px;
   bottom:0px;
   height:60px;
   width:100%;
   background:#353535;
}
.recently-viewed-products, .recently-viewed-products a {
  color: grey;
} 
.recently-viewed-products li{
  display: inline;
  border-left: thin grey solid;

}
