@font-face {
  font-family: "DINPro-Medium";
  src: url(/fonts/DINPro-Medium.otf) format("truetype");
}
@font-face {
  font-family: "DINPro-Bold";
  src: url(/fonts/DINPro-Bold.otf) format("truetype");
}
@font-face {
  font-family: "DINPro-Light";
  src: url(/fonts/DINPro-Light.otf) format("truetype");
}
body{
  font-family: 'DINPro-Light', sans-serif;
  /*font-family: 'PT Sans', sans-serif;*/
  background-color: #eeeeee;
}

#main_contain{
  background-color: #eeeeee;
}
#center_main{
      margin-bottom: -75px;
}

/*=====header nav====*/

.navbar-inner .nav-container{
  padding-top:2em;
  height:100%;
}

#top-navigation{
  background-color: #353535;
  color: #e2e7e2;

}

#title_link a{
  color:white;
  font-family: "DINPro-Light";
}
#title_link a:hover{
  text-decoration: none; 
  /*height: 2em;*/
}
#title_link h1{
margin-bottom: 0;
}
input.button{
     background-color: inherit;
    border: none;
    margin-top: 0.2em;
    color: whitesmoke;
}
input#search{
  background-color:#353535;
  /*border-radius: 3px;*/
  border: none;
  box-shadow: none;
  width: 180px;
  color: white;
}
.searcher{
    float: right;
    margin-right: 5%;
    margin-top: 1em;
    margin-bottom: 1em;

}


.nav li{
 
    padding-left:40px;
  padding-right:40px;

}

.nav ul{
  font-family: 'PT Sans', sans-serif;
  

}
.nav li h4{
  color: #e2e7e2;

}
.nav>li>a{
  padding: 0 15px;
}
.nav li a:hover{
  /*text-decoration: underline;
   -moz-text-decoration-color: white; /* Code for Firefox */
}
.nav li a:visited{
  background-color:whitesmoke;
  
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    /*background-color:rgba(0,0,0,0);*/   
}


 
/*====END NAVBAR===*/

/*====Collections Nav===*/
#collections_nav{
  z-index: 10;
}

/*====END Collections NAVBAR===*/

.contain{
  float: left;
  margin-left: 18em;
  /*THIS IS SO scroll left keeps side nav on top*/
  position: relative;
  z-index: -10;
}

.sub-type-panel{
  color:#484848;
}


/*====The product browse page===*/



/*=====NO QUERY====*/
#content_wrapper {

  background-color: #eeeeee;
  width: 70%;
  background-color: white;
  width: 100%;
  height: inherit;
  min-height: 75em;
  float: left;
  /*min-width: 985px;*/
  /*max-width: 1050px;*/
  clear: right;
  display: block;
  padding-top: 1.5em;
  padding-bottom: 10em;

 
}

#static_wrapper{
  padding-left: 4em;
  padding-right: 4em;
}


.prod_list{
  list-style: none;
  padding-left: 0;
  padding-right: 0;
}
.prod_list a:hover{
  text-decoration: none;
  
  }
  .prod_title:hover{
    text-decoration: underline;
  }
.prod_tile{
  background-size: contain;
  background-repeat: no-repeat;
  padding: 0;
  text-align: center;
  display:block;
  background-color: white;
  display: inline-block;
  height: 18.75em;
  width: 15em;
  border: 2px solid #eeeeee;
  margin: 10px;
  vertical-align: middle;
}
.prod_tile_img{
  width: 100%;
  height: 100%;
  margin: 0 auto;
  /*overflow: hidden;*/
  background-position-x: 50%;
  background-position-y: 50%;
  background-size: 127%;
  
}
.prod_tile_img img{
    opacity: 1;
    height: 100%;
    width: auto;
    /*padding-top: 5.15%;*/
    /*margin-left: 2px;*/
}

.sub_type_tile .sub-type-name h4{
    font-size: 15px;
  }
.plus{
    height:100%;
    width:100%;
    
    background-color: rgba(0,0,0,0.7);
    padding-top: 70%!important;
  }
  .sub-type-name{
    /* vertical-align: bottom; */
    position: relative;
    top: 77%;
    width: 85%;
    text-align: left;
    background-color: black;
    padding: 0;
    padding-left: 8px;
     margin: 0;
    
  }
.search_prod_tile{
  height: 12.25em;
  width: 10em;
}
.type_tile{
  background-size: cover;
  background-position-y: 50%;
  height: 20em;
  width: 16em;
  border:none;
  margin-bottom: 2em !important;
}
li.type_tile#Fittings{
  background-position: 0px -40px;
}
li.type_tile#Fixtures{
    background-position: 0px -10px;
}
a .prod_tile.type_tile h4{
 color: black;
 font-family: "DINPro-Medium";
  
}
#Wall_Coverings.type_tile{
    background-position-y: 50px;
    background-color: lightgray;
}
ul li.prod_tile .prod_title, ul li.prod_tile .prod_title a{
    display: block;
    padding-top: 5px;
    color: grey;

}


     .navvy{
        /*padding-top: 150px;*/
        background-color: #eeeeee;
        font-family: "PT Sans";
        
        overflow-y: scroll;
      }
      .affix{
        top:0;
      }
      /*===REGULAR (950+) DESKTOP SIZE ===*/



    @media (min-width: 767px) {

      .nav #searcher_li{
        position: absolute;
        left: -12px;
        background-color: #222222;
        
        }
    
      #nav-wrap{
        min-width: 900px;
      }
      /*end comment ** */

      #l_nav{
        min-width: 230px;
        max-width: 240px;
      }
       .navvy{
        height: 95vh;

      }
     
      
    /*===REGULAR (768+) Side Nav ===*/

      .side_nav{
        width: 17em;
        min-width: 17em;
        /*height: 100vh;*/
        display: block;
        float: left;
      }
      .side-nav-contain {
        float: left;
        margin: 2%;
        margin-left: 0;
        /*background-color: #e5e6df;*/
        position:absolute; 
        top:20;
        overflow-y: scroll;
        
        /*height: 100%;*/
        
      }
      .nav-wrap {
        float:left;
        width: 260px;
        /*background-color: #e5e6df;*/
        padding: 5px;
      }
      .nav2{
        
      }
      .navvy{
        padding-top: 35px;
        padding-left: 0;
        /*width: 100%;*/
        margin-left: -20px;
        padding-left: 20px;
        padding-right: 20px;
      }
      .navvy .panel-sub-heading {
        padding-left: 0;
      }

      .navvy .panel-default>.panel-heading{
        border: none;
        padding:10px;;
        padding-bottom: 0
      }
      .navvy .panel{
        margin-bottom: 0;/*20px;*/
        
        border: none; 
        border-radius: none;
        -webkit-box-shadow: none;/*0 1px 1px rgba(0,0,0,0.05)*/
        box-shadow: none; /*0 1px 1px rgba(0,0,0,0.05) */
      }
      .navvy label.prod-cat{
        font-weight: normal;
        font-size: 18px;
      }
      .panel-body {
        padding: 0px 15px;
      }
      #accordion1{
        margin-bottom: 80px;
      }
      #accordion1 *{
        /*background-color: #e5e6df;*/
        background-color: rgba(0,0,0,0);
      }
      #accordion1 a:link, #accordion1 a:visited{
      color: black;
      }
      /*#accordion1 .panel-sub-heading .panel-title label{
        margin-left: -15px;
      }*/
       #accordion1 .panel-sub-heading .panel-title label a:link, #accordion1 .panel-sub-heading .panel-title label a:visited {
        
        color: #484848;
      }
      #accordion1 a:hover, #accordion1 a:focus{
        text-decoration: none;
      }

      .filter ul{
        padding-left: 1em;
      }

      .filter li{
        list-style: none; 
      }
      .hide-dropdowns{
        display: none;
      }

      
      .panel-group { 
          max-width: 245px;
          margin-bottom: 0;
      
    }
  }

    /*=============++++ END LARGE SIZE EXCLUSIVE STYLES ++++=============*/

    /*=============++++ END SIDE NAV+ ++++=============*/

.type-contain{
  margin-top: 1em;
  min-width: 700px;
}

#subtype_list_name{
  
  text-transform: uppercase;
  color: lightgrey;
  margin-top: 12px;
  margin-bottom: 0;
  font-size: 18px;
}

.list_wrapper{
  width: 100%;
  margin: 0 auto;
}
.list_wrapper ul{
  /*width: 95%;*/
  text-align: center;
  
}
.list_wrapper ul li{
  margin: 2em;
  margin-bottom: 2.7em;
}


/*======Sub-type Show Dev ========*/

a .sub_type_tile{
  color: white;
}
.sub_type_pane{
  padding: 0.5em;
  text-align: center;
  display:block;
  float:left;
  background-color: white;
  /*height:19em;*/
  
  
  border-radius: 3px;
  margin:3px;
  width:90%;

}

a.sub_type_tile_title {
  color:gray;
  
}
.sub_type_tile{
  clear:left;
}
.sub_type_tile h3 {
    /*background-color: rgba(0,0,0,0.7);*/
    min-height: 2em;
    vertical-align: top;
    margin-top: 0em;
    padding-top: 0.35em;
}
.sub_type_list {
  list-style: none;
  height: 100%;
  margin-top: -2em;
}
.sub_type_tile .sub-type-name h4 {
    
    padding: 4px;
}

.plus_end{
  display: block;
  clear: left;
  float: right;
  }
.right_side{
 
  height: 100%;
  
  float: left;
 /*clear: left;*/
 display: block;
 padding-top: 17em;  
}
.left_side{
  width:15%;
  height: 100%;
  
  float: left;
 /*clear: left;*/
 display: block;
 padding-top: 17em;  
}

.collection_view_nav{
  color:gray;
  background-color: #eeeeee;
  border-color: #eeeeee;
}


/*======Product Show ========*/
/*+++++THE PRODUCT SHOW PAGE++++++*/
.back{
  border: none;
  color: black;
  padding: 0;
}

li.highlighted{
  border: thin solid black;
}

.prod_page_content{
  width:90%;
  
  margin: 0 auto;
  padding-top: 1em;
}
.prod-text{
  /*padding-left: 15%;*/
}
.detail_list {
  float:left;
  /*padding-right: 20px;*/
}


.images{
  float: left;
  padding-left: 1em; 
  width:50%;
}
#image_div{
  height:43em;
  width: 43em;
  background-image: url("/assets/ex1.png");
}


.product_image{
  width: 104%;
  width: 400px;
  
  position: relative;
      background-size: cover;
    background-position-x: 50%;
    background-position-y: 50%;
  float: left;
  /*margin-right: 3em;*/
  margin-bottom: 20px;
  background-color: white;
    background-repeat: no-repeat;
    border: solid #eeeeee;
  
}
.product_image_square{
  height:400px;
}
.product_image_tall{
  height: 500px;
}
.product_info{
  /*stuff to R of image*/
  float: left;
  padding-left: 2em;
  /*padding-top: 1em;*/
  width:50%;
  color: grey;
}

.config_info {
    display: block;
    padding-left: 15px;
    padding-bottom: 10px;
    padding-top: 5px;
    position: absolute;
    bottom: 0px;
    width: 100%;
    background: rgba(255,255,255,0.8);
    z-index: 11;
}
.config_info h5{
  margin:0;
}
.prod-config-number{
  color: darkgrey;
  margin: 0;
  font-size: 12px;
  line-height: 1.3;
}
#shown{
  font-style: italic;
  color: lightgrey;
  font-size: 15px;

}
.prod-config-description{
  color: grey;
  
}

.image_list{
  float: left;
  padding-top: 10px;
  padding-left: 1em;
  clear: both;
  width: 100%;


/* divider line */
  padding-bottom: 30px;
  /*margin-bottom: 40px;*/
  border-bottom: thin solid #EEEEEE;

}



#alt_imgs, #assoc_imgs {
  list-style: none;
  padding-left: 0;
  /*overflow: auto;*/
  
  height: auto;
  width:52%;
  float: left;

  
}
#assoc_imgs img{
  max-height:80px;
}
.image_list #alt_imgs.image_list_wide{
  width: 100%;
}

#similar_label{
  color: darkgrey;
}

#alt_imgs li{
  
  font-size: 10px;
  float: left;
  margin: 2px;
  margin-left: 0;
  padding:0;
  /*height:80px;*/
 
  
}
#assoc_imgs li.assoc_img{
  
  font-size: 10px;
  float: left;
  margin: 2px;
  margin-left: 0;
  padding:0;
  /*height:80px;*/
 
  
}
.image_list img{
border: thin solid #e5e6df;
max-width: 80px;

}
.alt_img:hover{
  cursor: pointer;
}
.alt_choice{
  opacity: .4;

}
#alt_imgs li.alt_img.alt_choice img{
  border: thin solid black;
}



.product_info a{
  color:gray;
}
#sub_type_name{
  color: gray;
  margin: 0;
  padding-left: 1em;
}
h3#prod_name, h5#prod_subtitle {
  min-height: 1.5em;
  margin-top: 0.25em;
  color: black;
      float: right;
    width: 50%;
    padding-left: 60px;
}
h5#prod_subtitle {
  clear: right;
  margin-top: 0;
  margin-bottom: 0;
  color: gray;
}
.components{
  height:   3.5em;
  margin-bottom: 1em;
  padding-left: 1.7em;
}
#components_list {
    margin-bottom: 1.5em;
    float: left;
    padding-top: 0;
    position: absolute;
    background-color: white;
    opacity: 0.95;
    font-size: 12px;
    width:42%;
    /*border: thin solid #eeeeee;*/
}
#components_list{
  padding-left: 8px;
}

.expander{
  cursor:pointer;
}
.expandComp{
  border: solid #eeeeee;
  padding: 4px;
  font-size: 14px !important;
  
  /*min-height: 318px;*/
}
.expandComp li{
  padding-left: 8px;
  padding-right: 8px;
    list-style-position: inside;
    text-indent: -1em;
    padding-left: 1em;
}
.centered{
  padding-left: 8%;
}
.options{
  width: 100%;
  float: left;
  clear: left;
  padding-bottom: 2.5em;
  margin-top: 12px;
}
.option_box{
  width: 8em;
  height: 8em;
  border: 1px solid lightgrey;
  display: inline-block;
  margin-right: 2em;
  vertical-align:top;
  color: white; 
  background-size: cover;
  /*overflow: hidden;*/
    
}
.option-img
.tearsheet_wrapper{
  padding-top: 1.5em;

}
div.tearsheet-form-box {
  
}

.tearsheet-form-box{
  float:left;
  
}
.option-img{
  
  height: 100%;
    clip: rect(0px,0px,0px,0px);
    position: absolute;
    max-width: 200px;
}
.m_name {
    margin-top: 11em;
    padding-top: 2px;
    color: darkgray;
    font-size: 10px;
    margin-bottom: 5px;
}

input.favorite{
  border: 0;
    color: gray;
    background-color: inherit;
    padding: 0;
}

input.favorite:hover{
  text-decoration: underline;
}

.prod_links{
  float: left;
  clear: left;
  text-align: left;
}

.links{
  padding-top: 1em;
  padding-left: 0;
  list-style: none;
  color: gray;
  float: left;

}
#links1{
  max-width: 140px;
}
#links2{
  padding-left: 2em;
  max-width: 170px;
}


#inquiry_button, #submit_email{
  font-size: 12px;
  padding: 4px 8px;
  background-color: #eeeeee;
  color: black;
  margin-top: -3px;
  margin-left: -3px;
  border-radius: 2px;
}



.choice_title{
  padding-left: 5px;
}

#compilations_list a {
    color: gray;
}
@media (min-width: 950px) {
  body{
    min-width: 1276px;
  }
  .images{
  padding-top: 10px; 
}

}
@media (min-width: 777px) and (max-width: 950px)  {
  body{
    min-width: 950px;
  }
  
  .product_image {
    width: 130%;
    height: 410px;
  }
  .product_info {
    padding-left: 7em;
  }

}

.clear_l{
  clear:left;
}
@media (min-width: 950px) {
 
  
  #nav_link_contain{
    padding-left: 10%;
  }
  .swatches, .compilations{   
    width: 47%;
    float: left;
    color: grey;
    padding-left: 1em;

  }


  .finishes{
    max-width: 50%;
    clear: left;
    margin-right: 0;
    margin-left: 0;
  }

}

 #material_choice{
    margin-top: 0.5em;
    margin-right: 0;
  }
  #finish_choice{
    margin-top: 0.5em;
  }
.compilations{
  margin-left: .5em;
}
.finish_tile{
  width: 4em;
  height: 4em;
  margin: 0.2em;
  background-size: cover;
}
.detail_list{
  padding-left: 0;
}
.swatch-img{
  height: 0;
  overflow: visible;
  width: 100%;
  z-index: -100;
}
.swatch_name{
  font-size: 9px;
  color: lightgrey;
  pointer-events: none;
}
.swatch_div{
  display: none;
  pointer-events: none;
  margin-top: 45px;
  margin-left: -15px;
  position: absolute;
  background-color: white;
  width:6em;
  font-size: 12px;
}
.finish_tile:hover .swatch_div{
  display:block;
}

.compilations {
  float: left;
  clear: left;
}
.compilations ul{
  list-style: none;
  padding-top: 6px;
}
.compilations li{
  padding-left: none;
}

.highlight{
  outline: 3px grey solid;
}
.prod_tile{
  cursor: pointer;
}

.dropdown-menu {
  position: relative;
  box-shadow: none;
  border: none;
  height: 30em;
  overflow: scroll;
  padding-left: 2%;
  margin-left: 3%;
  background-color: #e5e6df;
  z-index: 0;
  }

.recently-viewed-list{
       list-style: none;
    width: 13em;
    text-align: center;
   
}
.recently-viewed-products a {
  float: left;

}
.recently-viewed-products{
    color: grey;
    width: 15%;
    float: left;
    /*padding-top: 12.5em;*/
    padding-left: 2%;
    text-align: center;
    position: fixed;
    top: -35px;
    right: -6px;

} 

.recent_tile {
  /*display: inline;*/
  margin-top: 2em;
  /*border: 2px solid black;*/
  display: block;

}
ul li.recent_tile .prod_title, ul li.recent_tile .prod_title a{
    
    color: grey;
}
.icon_img{
      background-size: contain;
    background-repeat: no-repeat;
    width: 6em;
    height: 5em;
    margin: 0 auto;
}

/* #######EDIT PRODUCTS####### */
.setters{
  padding-left: 3.5em;
}

/*STYLES / COLLECTIONS PAGE*/
.style_div{
  width: 48%;
  height: 24em;
  margin:0.5em;
  float: left;
  /*border: thin solid black;*/
  padding: 0;
  background-size: cover;
  overflow-y: scroll;
}
.collection_div{
  width: 100%;
  height: 400px;
  min-height: 300px;
  /*margin:0.5em;*/
  float: left;
  /*border: thin solid black;*/
  padding: 0;
  
  overflow-x: scroll;
  overflow-y: hidden;
}
.collection_img{
  height: 400px;
}
.styles_wrapper{
  margin: 0 auto;
  margin-top: 2em;
  
width: 100%;
  
  height:90vh;
}
.pg{
  width: 100%;
  margin: 0;
  padding: 0;
  text-align: center;
  padding-left: 2%;
  height: 100vh;
}

#Contemporary{
  background-image:url("/images/rough_collections/contemp.png");

}
#Traditional{
  background-image:url("/images/rough_collections/traditional.png");
}
#Classic{
  background-image:url("/images/rough_collections/classic.png");
}
#Ornate{
  background-image:url("/images/rough_collections/ornate.png");

}

/*footer*/
.footer {
      position: fixed;
    left: 0px;
    bottom: 0px;
    min-height: 30px;
    width: 100%;
    background: #222222;
   z-index: 13;
}
.footer .links{
  /*padding-top: 2px;*/
  padding-bottom: 5px;
  
    text-align: center;
    float: none;
  
}
.foot_links_list{
  padding-left: 0;
}
li.foot_link, li.foot_link a{
    display: inline-block;
    margin: 0 1em;
    color:darkgrey;
    font-family: "DINPro-Light";
}
.brand h3{
  margin-top: 0;
  padding-top: 1em;
  padding-left: 1em;
}

/*=======SIZE SPECIFIC========*/
  @media (max-width: 1508px) {
      .r_col{
    clear: left;
    float: right;
    /*position: relative;*/
    display: none;
    width: 100%;
    /*margin-right: 8%;*/
    margin-bottom: 5em;
    /*=======ADD SCROLL RIGHT UL here*========*/
    }
    
  }
    /*@media (max-width: 1100px) {
      ul#links2{
        clear: left;
        padding-left: 0;

      }
    }*/

     /*=====Medium/SMALL SHOW=====*/
  @media (max-width: 1150px) {

        .r_col{
      clear: left;
      float: right;
      position: relative;
      display: none;
      margin-bottom: 5em;
      margin-top: 51px;
      }
       
    
      .swatches, .compilations{

        width: 100%;
      }
    .options, .detail_list{
        width:100%;
      }


 
    #alt_imgs img {
        
        width: 80px;
        height: 80px;
    }

   

    
  }
/*===LARGEST WIDTH===*/
@media (min-width: 1450px) {
 .prod_list{
    padding: 0 10% 0 10%;
    
}
 
}
@media (min-width: 1800px) {
 .list_wrapper{
    padding: 0 10% 0 10%;
  }
 
}


@media (min-width: 1150px) {
  .center_min_show{
    min-width: 835px;
  }
  .left{
    padding-left: 10% !important;
  }
 
}


/*=======SMALL SIZE========*/


    @media (max-width: 950px) {
  /*++++++==== NAVBAR ====+++++*/
      body{
        min-width: none;
      }
      .nav li{
      /*padding-right: 4em;*/

      }
      div h3#prod_name {
    min-height: 1.5em;
    width:100%;
    padding-left: 0.5em;
    float: left;
    
    }
    h4#prod_subtitle{
      float: left;
      width: 100%;
      padding-left: 0;
    }
    .m_name {
    margin-top: 0;
    color: white;
    font-size: 10px;
    background: rgba(0,0,0,0.5);

    }
    .tearsheet_wrapper{
      padding-top: 0 ;
     
    }
      

      /*BROWSE*/
     .contain{
        float: left;
        margin-left: 0;
        /*THIS IS SO scroll left keeps side nav on top*/
        position: relative;
        z-index: -10;
      }
      #content_wrapper{
        /*min-width: 700px;*/
            width: 100%;
            padding-top: 0;
      }
      ul.prod_list{
        /*float: left; */
        

        margin-left:0;
        margin-right:0;

      }
      .tile2, .tile3{
        display:none;
      }
      #links2{
        padding-left: 0;
      }

 
      /*===SMALL Side Nav ===*/

      .panel-body.filter{
        display: inline-flex;
      }
      .hide-dropdowns{
        height: 4em;
        margin-top: 0;
        margin-left: 1em;
        margin-bottom: .5em;
        background-color: whitesmoke;
        border: thin solid whitesmoke;
        border-radius: 10px;
        vertical-align: bottom;

      }
      .filter ul{
        list-style: none;
        
        padding-left: 4px;
      }
      .panel-title a{
        color: black;
      }

      input.back{
        background-color: whitesmoke;
      }
    }

@media (max-width: 770px) {
  .prod_tile{
    height: 10em;
    width: 8em;
  }
  .type_tile{
    width: 8em;
    height: 10em;

  }
  .sub-type-name {
    top:0 !important;
  }
  .sub-type-name h4{
    font-size: 12px;
  }
  #title_link a{
  
  font-family: "DINPro-Light";
  font-size: 25px;
  vertical-align: top;
  }

  
  .list_wrapper ul li {
    margin: 5px;
    margin-bottom: 4em;
  }
 
  .product_image_square{
    width: 300px;
    height: 300px;
  }
  .product_image_tall {
    width: 300px;
    height: 400px;
  } 

  h5#prod_subtitle {
    float: left;
    padding-left: 20px;
  }


  #content_wrapper{
    /*min-width: 515px;*/
  }
  .product_info{
    width: 100%;
  }
  .centered{
    padding-left: 0;
  }
 /* .option_box{
    width:5em;
    height:5em ;

  }*/
  
  #material_choice, #finish_choice {
    margin-top: 0;
  }
  .prod_links .links{
    padding-top: 0;
  }

  ul#links2{
      /*clear: left;*/
      padding-left: 25px;

  }
  .images, #alt_imgs{
    width: 100%;
    padding-left: 0;
  }

  .finish_tile{
    height: 4em;
    width: 4em;
  }

  #components_list {
    right: 5%;
  }

  
}



#nav_link_contain ul.navbar-nav {
  
  display: inline-block;
  float: none;
  /*clear: left;*/
  text-align: center;
  /*for offset to right*/
      /*padding-left: 240px;*/
  vertical-align: bottom;
}
.navbar .navbar-nav {
    display: inline-block;
    float: none;
}

.navbar .navbar-collapse {
    text-align: center;
}
div.panel-body{
padding-left: 10px;
}

div.panel-body.filter {
    padding: 0px !important;
        border-top: thin solid grey;
    width: 190px;
}
#collections_nav {
    background-color: black;
    border:none;
    float:left;
  text-align: left ;
    }
    #collections_nav.collection_view_nav{
      background-color: #eeeeee;
      color: black;
    }
  /*  #collections_nav .navbar-collapse .navbar-nav{

    }
*/
#collections_nav label, #collections_nav li {
    padding-top: 7.5px;
    font-family: 'PT Sans', sans-serif;
}
#collections_nav label input{
  margin-right: 5px;
}

#collection_name{
  float: left;
  padding-left: 25px;
}
.collection_view_nav .navbar-collapse .navbar-nav, #collections_nav .navbar-collapse .navbar-nav {
  float:left;
  text-align: left ;
}
.navbar-nav > li > a {padding-top:5px !important; padding-bottom:5px !important;}
.navbar {min-height:32px !important}
div#nav_link_contain.collapse.navbar-collapse{
  clear: left;  
}
#style-menu .navbar-nav > li > a {padding-top:10px !important; padding-bottom:5px !important;}



@media print{
  nav.navbar.navbar-inverse{
    display: none;

  }
  #l_nav{
    display: none;
  }

  .product_image{
    width:280px;
    height: 280px;
  }

  .image_list{
    display: none;
  }
  .choice_title{
    margin: 0;
  }

  .prod_tile{
    width: 40px;
    height: 40px;
  }
  .previews{
    margin-top: 1em;
    width: 100%;
  }
  .option_box{
        width: 120px;
    height: 120px;
  }
}

/*side nav tweaks*/
.panel-default>.panel-heading+.panel-collapse>.panel-body {
    border-top-color: white;
}

.panel-group .panel-heading+.panel-collapse>.panel-body {
    border-top: 0px solid #eeeeee;
}
/*.panel-group{
  margin-bottom: 5px !important;
}*/
#l_nav #accordion1 div.panel_title_div{
  margin-top: 5px ;
  margin-bottom: 0 ;
  
}
.panel_title_div label{
  font-weight: lighter;
  margin-left: 6px;
}
div.filter label{
  font-weight: normal;
}
div.filter h5{
  font-weight: bold;
  margin-left: -7px;
}

.checkbox2 input[type="checkbox"]{
  vertical-align: top;

    margin-top: 3px;
}

/* Showrooms */
#new-canvas{
  text-align: center;
}
.showrooms .showrooms-wrapper{
  width: 90%;
  margin: 0 auto;
}

.showrooms ul {
  list-style: none;
}
.showrooms .regional-offices ul{
  padding-left: 0;
  width: 90%;
  margin: 0 auto;
  margin-bottom: 2em;
}
.showrooms .regional-offices li{
  margin-left: 0;

}

#map-canvas { 
  height: 100%;
  margin: 0 auto;
}
.showrooms .regions li{
  display: inline;
  margin: 0 1.75em;
}

.showrooms .regions h3{
  display: inline;
  margin: 0 0;
}

.showrooms .regions.row{
  border-top: thin #eee solid;
  border-bottom: thin #eee solid;
  padding-top: 20px;
  padding-bottom: 20px;
}
.showrooms .row{
  margin: 0;
}

.showrooms .showroom-list .showroom-name{
  min-height: 3em;
  margin-top: 6px;
}
h2.showroom-name{
  font-size: 20px;
  font-weight: bold;
  margin-top: 0;
}
.showrooms .showroom-list .showroom-header{
  min-height: 2em;
}
p.showroom-header{
  font-weight: bold;
  margin-bottom: 2px;
  min-height: 3em;
}

.showrooms .showrooms-list.row{
  margin-top: 5em;
}
.showrooms .showrooms-list.row h3{
  margin-bottom:3em;
  border-top: thin #eee solid;
  padding-top: 1em;
}
.showrooms .showrooms-list .email-list{
  padding-left: 0;
}
.showrooms .showrooms-list .email-list li{
  margin-left: 0;
}

.showrooms .showroom{
  min-height:24em;
  margin-top: 2em;
  margin-bottom: 2em;
}
.showrooms .showroom .sr-link{
  margin-bottom: 0;
}  

