<%= filter.name %>

 <div class="filter">
    <ul>
      <li>
        <label><input type="checkbox" value="" id="Metal"> Metal </label>
      </li>
      <li>
        <label><input type="checkbox" value="" id="Marble"> Marble </label>
      </li>
      <li>
        <label><input type="checkbox" value="" id="Semi_Precious"> Semi Precious </label>
      </li>
    </ul>
  </div>
<!-- <img alt="meseeks" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSRJHrSQHxqFjiv1n8qJiN64E0wveCCaqQEK7LbuTnLS_-qEU_T" /> -->