

 <div class="filter">
   <ul>
    <h5>
    <%= filter.name %></h5>
     <% filter.filter_values.each do |filter_value| %>
      <li>
        <label><input type="checkbox" value="" id="<%= filter_value.filter_name_and_value %>"> <%= filter_value.name %> </label>
      </li>
    <% end %>
    </ul>
   
  </div>