<div class="prod_wrapper">
  <div class="list_wrapper">
    
    <ul class="prod_list">
      <h3 id="subtype_list_name"><%= @product_sub_type.name %></h3>
      
      <% products.each do |product| %>
      <%# <% products.sort{|a, b| a.created_at <=> b.created_at}.each do |product| %1> %>
        <%= render product %>
      <% end %>
    </ul>
  </div>
  
</div>

<script>
  // console.log('rendering prods');

  $('.prod_tile').mouseenter(function(){
     
     img_li = $(this);
     img_li.addClass('color_hover');
     img = img_li.find('img');
     img.css('opacity','1');
    // $bg.css('background-image', "url("+color_img + ")");
    // $bg.css('background-position-y','25%');
  }).mouseleave(function(){
    console.log(this);
    $(this).find('img').css('opacity','0');
  })

</script>