<div class="prod_wrapper">
  <div class="list_wrapper">
    
    <ul class="prod_list">
      <h3 id="subtype_list_name"><%= @product_sub_type.name %></h3>
      
      <% products.each do |product| %>
      <%# <% products.sort{|a, b| a.created_at <=> b.created_at}.each do |product| %1> %>
        <%= render product %>
      <% end %>
    </ul>
  </div>
  
</div>
<script>
  $("html, body").animate({ scrollTop: 0 }, "slow");
</script>
