<div class="prod_wrapper">
  <div class="list_wrapper">
    <%= will_paginate products %>
    <ul class="prod_list">
      <h3 id="subtype_list_name"><%= @product_sub_type.name %></h3>
      <% products.each do |product| %>
        <%= render product %>
      <% end %>
    </ul>
  </div>
  
</div>
