<h1>All the Sherle Wagner products:</h1>
<ul>
  <% @products.each do |product| %>
    <li>
      <%= link_to product.name, product %> | <%= product.product_sub_type.name %>
    </li>
  <% end %>
</ul>  
