<h1>All the Sherle Wagner products:</h1>
<ul>
  <% @products.each do |product| %>
    <li>
      <% sub_type = product.product_sub_type ? product.product_sub_type.name : "" %>
      <%= link_to product.name, product %> | <%= sub_type %>
    </li>
  <% end %>
</ul>  
