<style>
body{
  position: relative;
}
.affix {
      top: 0;
      width: 100%;
  }</style>
  
<nav class="navbar navbar-inverse" id="collections_nav" data-spy="affix" data-offset-top="105">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
  
      <a class="navbar-brand" href="#">Styles</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="style-menu">
      <ul class="nav navbar-nav">
        <li><a href="#contemporary">Contemporary</a></li>
        <li><a href="#classic">Classic</a></li>
        <li><a href="#traditional">Traditional</a></li>
        <li><a href="#ornate">Ornate</a></li>

        
      </ul>
      
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
