<div class='footer'>

  <% if admin? %>
    <%= link_to 'logout', logout_path %>
    <%= link_to 'add product', new_product_group_path %>
  <% else %>
    <%= link_to 'login', login_path %>
  <% end %>
  <%= link_to 'favorites', favorites_path if !cookies[:favorites].nil? %>
  <!-- %= render 'recently_viewed_products/recently_viewed_products' %> -->
</div> 
