<div class='footer'>
  <div class="footer-links">
    <ul>
      <li>
        Contact Us 
      </li>
      <li> Showroom Locations</li>
      <li>History & Manufacturing</li>
    </ul>
   
  </div>
  <div class="login">
    <% if admin? %>
      <%= link_to 'logout', logout_path %>
      <%= link_to 'add product', new_product_group_path %>
    <% else %>
      <%= link_to 'login', login_path %>

      <%= link_to 'cookies', login_path if !cookies[:favorites].nil? %>

    <% end %>
  </div>


</div> 
