
<style>
  
  /* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 30px;
}
footer#bottom {
    position: relative;
    bottom: 0;
    width: 100%;
    min-height: 60px;
    padding-bottom: 30px;
    background-color: #222222;
    /*z-index: 11;*/
}
</style>

<footer class='footer container-fluid text-center'>

  <% if admin? %>
    <%= link_to 'logout', logout_path %>
    <%= link_to 'add product', new_product_path %>
  <% else %>
    <!-- %= link_to 'login', login_path %> -->
  <% end %>
  <!-- = link_to 'favorites', favorites_path if !cookies[:favorites].nil? %> -->
  <div class="links">
    <ul class="foot_links_list">
      <!-- Contact Us, Showroom Locations, History & Manufacturing, etc
One of these should be an option to go to technical drawings/tear sheets -->
      <li class="foot_link"><a href="/contact">Contact Us</a></li>
      <li class="foot_link"><a href="#">Showroom Locations</a></li>
      <li class="foot_link"><a href="#">History & Manufacturing</a></li>
      <li class="foot_link"><a href="#">technical drawings/tear sheets</a></li>

    </ul>
  </div>
</footer> 

<footer id="bottom">
      <div class="container">
        <h3>SHERLE WAGNER</h3>
      </div>
</footer>
