
<style>
  
  /* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 30px;
}
footer#bottom {
    position: relative;
    bottom: 0;
    width: 100%;
    min-height: 60px;
    padding-bottom: 5px;
    background-color: #222222;
    /*z-index: 11;*/
}
</style>

<footer class='footer container-fluid text-center'>

 

  <div class="links">
    <ul class="foot_links_list">
      
      <li class="foot_link"><a href="/contact">Contact Us</a></li>

      <li class="foot_link"><a href="/showrooms">Showroom Locations</a></li>
      <li class="foot_link"><a href="/history">History & Manufacturing</a></li>
      <li class="foot_link"><a href="/favorites"><i class="fa fa-shopping-basket" aria-hidden="true"></i> Favorites</a></li>
      <li class="foot_link" id="phn_nmbr">1 - (212) 758-3300</li>
      <li class="foot_link"><a href="http://www.archive.sherlewagner.com">Old SW Site</a></li>
      <li class="foot_link social">
        <a href="https://www.facebook.com/Sherle-Wagner-International-503204099689892/" target="_blank"><img class="social_link" id="fb_icon" src="/images/thumb/faceBookGrey.png" alt="facebook link">
        </a>
      </li>
      <li class="foot_link social">
        <a href="http://www.instagram.com/sherlewagner" target="_blank"><img class="social_link" id="ig_icon" src="/images/thumb/instagramGrey.png" alt="instagram link">
        </a>
      </li>
      <li class="foot_link social">
        <a href="http://www.twitter.com/sherlewagner" target="_blank"><img class="social_link" id="twt_icon" src="/images/thumb/twitterGrey.png" alt="twitter link">
        </a>
      </li>
      <!-- <li class="foot_link"><a href="http://www.archive.sherlewagner.com">Old SW Site</a></li> -->
      

    </ul>
  </div>
  <% if current_user && request.original_url.include?('preview')%>
    <div class="admin-link">
      <%= link_to "approve homepage", update_homepage_path %>
    </div>
  <% end %>
</footer> 
<% if controller_name != "products" && action_name != "show" %>
<footer id="bottom">
      <div class="brand">
        <h3>SHERLE WAGNER</h3>
      </div>
</footer>
<% end %>
