
<style>
  
  /* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 30px;
}
footer#bottom {
    position: relative;
    bottom: 0;
    width: 100%;
    min-height: 60px;
    padding-bottom: 5px;
    background-color: #222222;
    /*z-index: 11;*/
}
</style>

<footer class='footer container-fluid text-center'>

 

  <div class="links">
    <ul class="foot_links_list">
      
      <li class="foot_link"><a href="/contact">Contact Us</a></li>
      <li class="foot_link"><a href="/showrooms">Showroom Locations</a></li>
      <li class="foot_link"><a href="/history">History & Manufacturing</a></li>
      <li class="foot_link"><a href="/favorites"><i class="fa fa-shopping-basket" aria-hidden="true"></i> Favorites</a></li>
      

    </ul>
  </div>
  <% if current_user && request.original_url.include?('preview')%>
    <div class="admin-link">
      <%= link_to "approve homepage", update_homepage_path %>
    </div>
  <% end %>
</footer> 

<footer id="bottom">
      <div class="brand">
        <h3>SHERLE WAGNER</h3>
      </div>
</footer>
