
  <div class="nav-wrap">
      <div class="navvy">
        <div class="panel-group" id="accordion1">
          
            <%= render partial:"product_types/product_type", collection: product_types %>
          
        </div>
    </div>
  </div>
