<div class="nav-wrap">
    <div class="navvy">
        <div class="panel-group" id="accordion1">
            <div class="panel panel-default">
                <div class="panel-heading product-type" id="Fittings">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion1" href="#collapseOne" class="prod-cat">Fittings</a>
                    </h4>
                </div>

                <div id="collapseOne" class="panel-collapse collapse">
                    <div class="panel-body">

                        <div class="panel-group" id="accordion2">
                            
                            <div class="panel panel-default">
                                <div class="panel-sub-heading" >
                                    <div class="panel-title" id="Basin_Sets">
                                        <div class="checkbox">
                                            <label data-toggle="collapse" data-parent="#accordion2" href="#collapseOne1">
                                              <%= link_to "Basin Sets", fetch_items_path(:cat_id => 2), :remote => true %> 
                                            </label>
                                        </div>  
                                    </div>
                                </div>

                                <div id="collapseOne1" class="panel-collapse collapse">
                                    <div class="panel-body filter">
                                        
                                        Handle Designs <br/>
                                        <div class="checkbox">
                                          <label><input type="checkbox" value="" id="Levers"> Levers </label>
                                        </div>
                                        <div class= "checkbox">
                                          <label><input type="checkbox" value="" id="Knobs"> Knobs </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
<div class="filter">
  <ul>
    <li>
      <label><input type="checkbox" value="" id="Metal"> Metal </label>
    </li>
    <li>
      <label><input type="checkbox" value="" id="Marble"> Marble </label>
    </li>
    <li>
      <label><input type="checkbox" value="" id="Semi_Precious"> Semi Precious </label>
    </li>
  </ul>
</div>

                            <div class="panel panel-default">
                                <div class="panel-sub-heading" >
                                    <div class="panel-title" id="Bar_Spout_Basin_Sets">
                                        <div class="checkbox">
                                            <label data-toggle="collapse" data-parent="#accordion2" href="#collapseOneB1">
                                              <%= link_to "Bar Spout Basin Sets", fetch_items_path(:cat_id => 3), :remote => true %> 
                                            </label>
                                        </div>  
                                    </div>
                                </div>

                                <div id="collapseOneB1" class="panel-collapse collapse">
                                    <div class="panel-body">
                                        
                                        Handle Designs <br/>
                                        <div class="checkbox">
                                          <label><input type="checkbox" value="" id="Levers"> Levers </label>
                                        </div>
                                        <div class="checkbox">
                                          <label><input type="checkbox" value="" id="Knobs"> Knobs </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-default">
                                <div class="panel-sub-heading" >
                                    <div class="panel-title" id="Single_Handle_Basin_Sets">
                                        <div class="checkbox">
                                            <label data-toggle="collapse" data-parent="#accordion2" href="#collapseOneB2">
                                                 Single Handle Basin Sets  
                                            </label>
                                        </div>  
                                    </div>
                                </div>

                                <div id="collapseOneB2" class="panel-collapse collapse">
                                    <div class="panel-body">
                                        
                                        Handle Designs <br/>
                                        <div class="checkbox">
                                          <label><input type="checkbox" value="" id="Levers"> Levers </label>
                                        </div>
                                        <div class="checkbox">
                                          <label><input type="checkbox" value="" id="Knobs"> Knobs </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-default">
                                <div class="panel-sub-heading" >
                                    <div class="panel-title" id="Wall_Mount_Basin_Sets">
                                        <div class="checkbox">
                                            <label data-toggle="collapse" data-parent="#accordion2" href="#collapseOneB3">
                                                 Wall Mount Basin Sets  
                                            </label>
                                        </div>  
                                    </div>
                                </div>

                                <div id="collapseOneB3" class="panel-collapse collapse">
                                    <div class="panel-body">
                                        
                                        Handle Designs <br/>
                                        <div class="checkbox">
                                          <label><input type="checkbox" value="" id="Levers"> Levers </label>
                                        </div>
                                        <div class="checkbox">
                                          <label><input type="checkbox" value="" id="Knobs"> Knobs </label>
                                        </div>
                                    </div>
                                </div>
                            </div>



                          <div class="panel panel-default">
                            <div class="panel-sub-heading">
                                <div class="panel-title" id="Bidet_Sets">
                                    <div class="checkbox">
                                        <label data-toggle="collapse" data-parent="#accordion2" href="#collapseOne2">
                                             Bidet Sets  
                                        </label>
                                    </div> 
                                </div>
                            </div>
                            <div id="collapseOne2" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <div class="checkbox">

                                      <label>
                                        <input type="checkbox" value="" id="1_hole">
                                        1 hole</label>

                                    </div>

                                    <div class="checkbox">

                                      <label>
                                        <input type="checkbox" value="" id="4_hole">
                                        4 hole</label>

                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-sub-heading">
                                <div class="panel-title" id="Shower_Systems">
                                    <div class="checkbox">
                                        <label data-toggle="collapse" data-parent="#accordion2" href="#collapseOne3">
                                           Shower Systems 
                                        </label>
                                    </div> 

                                </div>
                            </div>
                            <div id="collapseOne3" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox" id="Concentric Thermostatic_Shower_Systems" class="sub-type"/>
                                            Concentric Thermostatic Shower Systems
                                        </label>
                                    </div> 
                                    
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox" id="High_Flow_Thermostatic_Shower_Systems" class="sub-type"/>
                                            High Flow Thermostatic Shower Systems
                                        </label>
                                    </div> 
                                    
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-sub-heading">
                                <div class="panel-title" id="Deck_Mount_Tub_Sets">
                                    <div class="checkbox">
                                        <label data-toggle="collapse" data-parent="#accordion2" href="#collapseOne4">
                                             Deck Mount Tub Sets 
                                        </label>
                                    </div> 

                                </div>
                            </div>
                            <div id="collapseOne4" class="panel-collapse collapse">
                                <div class="panel-body">
                                    filters
                                </div>
                            </div>
                        </div>
                         <div class="panel panel-default">
                            <div class="panel-sub-heading">
                                <div class="panel-title" id="Wall_Mount_Tub_Sets">
                                    <div class="checkbox">
                                        <label data-toggle="collapse" data-parent="#accordion2" href="#collapseOne4b">
                                            Wall Mount Tub Sets 
                                        </label>
                                    </div> 

                                </div>
                            </div>
                            <div id="collapseOne4b" class="panel-collapse collapse">
                                <div class="panel-body">
                                    filters
                                </div>
                            </div>
                        </div>

                        <div class="panel panel-default">
                            <div class="panel-sub-heading">
                                <div class="panel-title">
                                    <div class="checkbox" id="Exposed_Shower_Sets">
                                        <label data-toggle="collapse" data-parent="#accordion2" href="#collapseOne5">
                                            Exposed Shower Sets 
                                        </label>
                                    </div> 

                                </div>
                            </div>
                            <div id="collapseOne5" class="panel-collapse collapse">
                                <div class="panel-body">
                                    filters
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-sub-heading">
                                <div class="panel-title" id="Exposed_Tub_Sets">
                                    <div class="checkbox">
                                        <label data-toggle="collapse" data-parent="#accordion2" href="#collapseOne5b">
                                             Exposed Tub Sets 
                                        </label>
                                    </div> 

                                </div>
                            </div>
                            <div id="collapseOne5b" class="panel-collapse collapse">
                                <div class="panel-body">
                                    filters
                                </div>
                            </div>
                        </div>

                        <div class="panel panel-default">
                            <div class="panel-sub-heading">
                                <div class="panel-title" id="Components">
                                    <div class="checkbox">
                                        <label data-toggle="collapse" data-parent="#accordion2" href="#collapseOne6">
                                            Components
                                        </label>
                                    </div> 

                                </div>
                            </div>
                            <div id="collapseOne6" class="panel-collapse collapse">
                                <div class="panel-body">
                                    
                                    <div class="checkbox">

                                      <label>
                                        <input type="checkbox" value="" id="Thermostatic_Shower_Trims">
                                        Thermostatic Shower Trims </label>

                                    </div>

                                    <div class="checkbox">

                                      <label>
                                        <input type="checkbox" value="" id="Concentric_Thermostatic_Trims">
                                        Concentric Thermostatic Trims </label>

                                    </div>

                                    <div class="checkbox">

                                      <label>
                                        <input type="checkbox" value="" id="Volume_on/off_&_Diverter_Control_Trims">
                                        Volume on/off & Diverter Control Trims </label>

                                    </div>

                                    <div class="checkbox">

                                      <label>
                                        <input type="checkbox" value="" id="Shower_Heads">
                                        Shower Heads </label>

                                    </div>

                                    <div class="checkbox">

                                      <label>
                                        <input type="checkbox" value="" id="Rain_Domes">
                                        Rain Domes </label>

                                    </div>

                                    <div class="checkbox">

                                      <label>
                                        <input type="checkbox" value="" id="Body_Sprays">
                                        Body Sprays </label>

                                    </div>

                                    <div class="checkbox">

                                      <label>
                                        <input type="checkbox" value="" id="Rain_Bars">
                                        Rain Bars </label>

                                    </div>

                                    <div class="checkbox">

                                      <label>
                                        <input type="checkbox" value="" id="Hand_Showers">
                                        Hand Showers </label>

                                    </div>

                                    <div class="checkbox">

                                      <label>
                                        <input type="checkbox" value="" id="Hand_Shower_Accessories">
                                        Hand Shower Accessories </label>

                                    </div>

                                    <div class="checkbox">

                                      <label>
                                        <input type="checkbox" value="" id="Deck_Mount_Tub_Spouts">
                                        Deck Mount Tub Spouts </label>

                                    </div>

                                    <div class="checkbox">

                                      <label>
                                        <input type="checkbox" value="" id="Wall_Mount_Tub_Spouts">
                                        Wall Mount Tub Spouts </label>

                                    </div>

                                    <div class="checkbox">

                                      <label>
                                        <input type="checkbox" value="" id="Waste_Assembly">
                                        Waste Assembly </label>

                                    </div>

                                    <div class="checkbox">

                                      <label>
                                        <input type="checkbox" value="" id="Shower_Arm_Diverters">
                                        Shower Arm Diverters </label>

                                    </div>
                                    
                                </div>
                            </div>
                        </div>

                        <div class="panel panel-default">
                            <div class="panel-sub-heading">
                                <div class="panel-title">
                                    <div class="checkbox">
                                        <label data-toggle="collapse" data-parent="#accordion2" href="#collapseOne7">
                                            Trip Levers
                                        </label>
                                    </div> 

                                </div>
                            </div>
                            <div id="collapseOne7" class="panel-collapse collapse">
                                <div class="panel-body">
                                    filters
                                </div>
                            </div>
                        </div>
        

                    </div>
                </div>
            </div>


        </div>
        <!-- FIXTURES TOGGLE EACH OTHER CLOSED data-parent + href vs data target*** -->
        <div class="panel panel-default"> 
            <div class="panel-heading product-type" id="Fixtures">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion1" href="#collapseTwo" class="prod-cat">Fixtures</a>
                </h4>
            </div>

            <div id="collapseTwo" class="panel-collapse collapse">
                <div class="panel-body">
                    <div class="panel-group" id="accordion3">
                        <div class="panel panel-default">
                            <div class="panel-sub-heading">
                                <div class="panel-title">
                                    <div class="checkbox">
                                        <label data-toggle="collapse" data-parent="#accordion3" href="#collapseTwo1">
                                            Basins
                                        </label>
                                    </div> 
                                    <!-- OLD cover up format <a data-toggle="collapse" data-parent="#accordion3" href="#collapseTwo1">Basins</a> -->
                                </div>
                            </div>
                            <div id="collapseTwo1" class="panel-collapse collapse">
                                <div class="panel-body">

                                    Basin Type
                                    <div class="checkbox">
                                      <label><input type="checkbox" value="" id="Under_Edge"> Under Edge </label>
                                  </div>
                                  <div class="checkbox">
                                      <label><input type="checkbox" value="" id="Over_Edge"> Over Edge </label>
                                  </div>
                                  <div class="checkbox">
                                      <label><input type="checkbox" value="" id="Over_Edge"> Round Under Edge </label>
                                  </div>
                                  <div class="checkbox">
                                      <label><input type="checkbox" value="" id="Over_Edge"> Stone Basins</label>
                                  </div>
                                   <div class="checkbox">
                                      <label><input type="checkbox" value="" id="Over_Edge"> Stone Vessel Basins</label>
                                  </div>
                                   <div class="checkbox">
                                      <label><input type="checkbox" value="" id="Over_Edge"> Hand Painted</label>
                                  </div>
                                   <div class="checkbox">
                                      <label><input type="checkbox" value="" id="Over_Edge"> Hand Decorated</label>
                                  </div>
                                   <div class="checkbox">
                                      <label><input type="checkbox" value="" id="Over_Edge"> Banded</label>
                                  </div>

                                   <div class="checkbox">
                                      <label><input type="checkbox" value="" id="Over_Edge"> Gold and Platinum</label>
                                  </div>






                              </div>
                          </div>
                      </div>
                      <div class="panel panel-default">
                        <div class="panel-sub-heading">
                            <div class="panel-title">
                                <div class="checkbox">
                                        <label data-toggle="collapse" data-parent="#accordion3" href="#collapseTwo2">
                                             Pedestals
                                        </label>
                                </div> 
                               <!--  <a data-toggle="collapse" data-parent="#accordion3" href="#collapseTwo2">Pedestals</a> -->
                            </div>
                        </div>
                        <div id="collapseTwo2" class="panel-collapse collapse">
                            <div class="panel-body">

                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-sub-heading">
                            <div class="panel-title">
                                <div class="checkbox">
                                        <label data-toggle="collapse" data-parent="#accordion3" href="#collapseTwo3">
                                            Counters
                                        </label>
                                </div> 
                                <!-- <a data-toggle="collapse" data-parent="#accordion3" href="#collapseTwo3">Counters</a> -->
                            </div>
                        </div>
                        <div id="collapseTwo3" class="panel-collapse collapse">
                            <div class="panel-body">
                                <div class="checkbox">
                                    <label><input type="checkbox" value="" id="Console"> Console filters </label>
                                </div>
                               
                            </div>
                        </div>

                    </div>
                    <div class="panel panel-default">
                        <div class="panel-sub-heading">
                            <div class="panel-title">
                                <div class="checkbox">
                                        <label data-toggle="collapse" data-parent="#accordion3" href="#collapseTwo4">
                                            Tubs
                                        </label>
                                </div> 
                               <!--  <a data-toggle="collapse" data-parent="#accordion3" href="#collapseTwo4">Tubs</a> -->
                            </div>
                        </div>
                        <div id="collapseTwo4" class="panel-collapse collapse">
                            <div class="panel-body">

                            </div>
                        </div>
                        
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-sub-heading">
                            <div class="panel-title">
                                <div class="checkbox">
                                        <label data-toggle="collapse" data-parent="#accordion3" href="#collapseTwo5">
                                             Water Closets
                                        </label>
                                </div> 
                                <!-- <a data-toggle="collapse" data-parent="#accordion3" href="#collapseTwo5">Water Closets </a> -->
                            </div>
                        </div>
                        <div id="collapseTwo5" class="panel-collapse collapse">
                            <div class="panel-body">

                            </div>
                        </div>
                        
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-sub-heading">
                            <div class="panel-title">
                                <div class="checkbox">
                                        <label data-toggle="collapse" data-parent="#accordion3" href="#collapseTwo5B">
                                            Bidets
                                        </label>
                                </div> 
                               <!--  <a data-toggle="collapse" data-parent="#accordion3" href="#collapseTwo5">Water Closets </a> -->
                            </div>
                        </div>
                        <div id="collapseTwo5B" class="panel-collapse collapse">
                            <div class="panel-body">

                            </div>
                        </div>
                        
                    </div>

                </div>  
                </div>  
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading product-type" id="Accessories">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion1" href="#collapseThree" class="prod-cat">Accessories</a>

                </h4>
            </div>
                <div id="collapseThree" class="panel-collapse collapse">
                    <div class="panel-body">
                       
                        <div class="panel-group" id="accordion4">
                            <div class="panel panel-default">
                                <div class="panel-sub-heading">
                                    <div class="panel-title">
                                        <div class="checkbox">
                                            <label data-toggle="collapse" data-parent="#accordion4" href="#collapseThree1">
                                                <input type="checkbox"id="Towel_Bars_and_Shelves" class="sub-type sub-type-parent"/> Towel Bars and Shelves
                                            </label>
                                        </div> 
                                        <!-- OLD cover up format <a data-toggle="collapse" data-parent="#accordion3" href="#collapseThree1">Towel Bars and Shelves</a> -->
                                    </div>
                                </div>
                                <div id="collapseThree1" class="panel-collapse collapse">
                                    <div class="panel-body">
                                        <div class="checkbox">
                                          <label><input type="checkbox" value="" id="Towel_Bars"> Towel Bars </label>
                                      </div>
                                      <div class="checkbox">
                                          <label><input type="checkbox" value="" id="Shelves"> Shelves </label>
                                      </div>


                                  </div>
                              </div>
                          </div>
                          <div class="panel panel-default">
                            <div class="panel-sub-heading">
                                <div class="panel-title">
                                    <div class="checkbox">
                                            <label data-toggle="collapse" data-parent="#accordion4" href="#collapseThree2">
                                                <input type="checkbox"id="Towel_Rings" class="sub-type" /> Towel Rings
                                            </label>
                                    </div> 
                                    <!-- <a data-toggle="collapse" data-parent="#accordion4" href="#collapseThree2">Towel Rings</a> -->
                                </div>
                            </div>
                            <div id="collapseThree2" class="panel-collapse collapse">
                                <div class="panel-body">
                                    filters
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-sub-heading">
                                <div class="panel-title">
                                    <div class="checkbox">
                                            <label data-toggle="collapse" data-parent="#accordion4" href="#collapseThree3">
                                                <input type="checkbox"id="Paper_Holders" class="sub-type"/> Paper Holders
                                            </label>
                                    </div> 
                                    <!-- <a data-toggle="collapse" data-parent="#accordion3" href="#collapseThree3">Counters & Consoles</a> -->
                                </div>
                            </div>
                            <div id="collapseThree3" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <div class="checkbox">
                                        <label><input type="checkbox" value="" id="Holder_filter"> Holder etc </label>
                                    </div>
                                    
                                </div>
                            </div>

                        </div>
                        <div class="panel panel-default">
                            <div class="panel-sub-heading">
                                <div class="panel-title">
                                    <div class="checkbox">
                                            <label data-toggle="collapse" data-parent="#accordion4" href="#collapseThree4">
                                                <input type="checkbox"id="Hooks" class="sub-type"/> Hooks
                                            </label>
                                    </div> 
                                    <!-- <a data-toggle="collapse" data-parent="#accordion3" href="#collapseThree4">Hooks</a> -->
                                </div>
                            </div>
                            <div id="collapseThree4" class="panel-collapse collapse">
                                <div class="panel-body">

                                </div>
                            </div>
                            
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-sub-heading">
                                <div class="panel-title">
                                    <div class="checkbox">
                                            <label data-toggle="collapse" data-parent="#accordion4" href="#collapseThree5">
                                                <input type="checkbox"id="Holders, Baskets, & Bars" class="sub-type"/> Holders, Baskets, & Bars
                                            </label>
                                    </div> 
                                    <!-- <a data-toggle="collapse" data-parent="#accordion3" href="#collapseThree5">Water Closets & Bidets</a> -->
                                </div>
                            </div>
                            <div id="collapseThree5" class="panel-collapse collapse">
                                <div class="panel-body">

                                </div>
                            </div>
                            
                        </div>

                        <div class="panel panel-default">
                            <div class="panel-sub-heading">
                                <div class="panel-title">
                                    <div class="checkbox">
                                            <label data-toggle="collapse" data-parent="#accordion4" href="#collapseThree6">
                                                <input type="checkbox"id="Mirrors & Medicine Cabinets" class="sub-type"/> Mirrors & Medicine Cabinets
                                            </label>
                                    </div> 
                                    <!-- <a data-toggle="collapse" data-parent="#accordion3" href="#collapseThree5">Water Closets & Bidets</a> -->
                                </div>
                            </div>
                            <div id="collapseThree6" class="panel-collapse collapse">
                                <div class="panel-body">

                                </div>
                            </div>
                            
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-sub-heading">
                                <div class="panel-title">
                                    <div class="checkbox">
                                            <label data-toggle="collapse" data-parent="#accordion4" href="#collapseThree7">
                                                <input type="checkbox"id="Counter_Top_Accessories" class="sub-type"/> Counter Top Accessories
                                            </label>
                                    </div> 
                                    <!-- <a data-toggle="collapse" data-parent="#accordion3" href="#collapseThree7">title</a> -->
                                </div>
                            </div>
                            <div id="collapseThree7" class="panel-collapse collapse">
                                <div class="panel-body">

                                </div>
                            </div>
                            
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-sub-heading">
                                <div class="panel-title">
                                    <div class="checkbox">
                                        <label data-toggle="collapse" data-parent="#accordion4" href="#collapseThree8">
                                            <input type="checkbox"id="Bench" class="sub-type"/> Bench
                                        </label>
                                    </div> 
                                    <!-- <a data-toggle="collapse" data-parent="#accordion3" href="#collapseThree8">title</a> -->
                                </div>
                            </div>
                                <div id="collapseThree8" class="panel-collapse collapse">
                                <div class="panel-body">

                                </div>
                                </div>
                            
                        </div>

                    </div>                  

                </div>
            </div>
        </div>   <!-- end Accessories Panel -->

        <div class="panel panel-default">
            <div class="panel-heading product-type" id="Hardware">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion1" href="#collapseFour" class="prod-cat">Hardware</a>

                </h4>
            </div>
            <div id="collapseFour" class="panel-collapse collapse">
                <div class="panel-body">
                    <div class="panel-group" id="accordion5">
                        <div class="panel panel-default">
                            <div class="panel-sub-heading">
                                <div class="panel-title">
                                    <div class="checkbox">
                                        <label data-toggle="collapse" data-parent="#accordion5" href="#collapseFour1">
                                            <input type="checkbox"id="Door Levers & Knobs" class="sub-type sub-type-parent"/> Door Levers & Knobs  
                                        </label>
                                    </div>  
                                </div>
                            </div>

                            <div id="collapseFour1" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <div class="checkbox">
                                      <label><input type="checkbox" value="" id="Door Levers"> Door Levers </label>
                                    </div>
                                    <div class="checkbox">
                                      <label><input type="checkbox" value="" id="Door Knobs"> Door Knobs </label>
                                    </div>
                                </div>
                            </div>
                        </div> <!-- end first collapse panel (Four1) -->
                        <div class="panel panel-default">
                                <div class="panel-sub-heading">
                                    <div class="panel-title">
                                        <div class="checkbox">
                                            <label data-toggle="collapse" data-parent="#accordion5" href="#collapseFour2">
                                                <input type="checkbox"id="Back Plates, Push Plates, & Flush Pulls" class="sub-type" /> Back Plates, Push Plates, & Flush Pulls
                                            </label>
                                        </div> 
                                        
                                    </div>
                                </div>
                                    <div id="collapseFour2" class="panel-collapse collapse">
                                        <div class="panel-body">
                                            fluchpullFiltrz

                                        </div>
                                    </div>
                                
                        </div> <!-- end 2nd -->
                        <div class="panel panel-default">
                                <div class="panel-sub-heading">
                                    <div class="panel-title">
                                        <div class="checkbox">
                                            <label data-toggle="collapse" data-parent="#accordion5" href="#collapseFour3">
                                                <input type="checkbox"id="Door Trim Bar Pulls" class="sub-type" /> Door Trim Bar Pulls
                                            </label>
                                        </div> 
                                        
                                    </div>
                                </div>
                                    <div id="collapseFour3" class="panel-collapse collapse">
                                        <div class="panel-body">

                                        </div>
                                    </div>
                                
                        </div> <!-- end 3rd -->
                        <div class="panel panel-default">
                                <div class="panel-sub-heading">
                                    <div class="panel-title">
                                        <div class="checkbox">
                                            <label data-toggle="collapse" data-parent="#accordion5" href="#collapseFour4">
                                                <input type="checkbox"id="Cabinet & Drawer Knobs" class="sub-type" /> Cabinet & Drawer Knobs
                                            </label>
                                        </div> 
                                        
                                    </div>
                                </div>
                                    <div id="collapseFour4" class="panel-collapse collapse">
                                        <div class="panel-body">

                                        </div>
                                    </div>
                                
                        </div> <!-- end 4th -->
                    </div>

                </div>
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading product-type" id="Lighting">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion1" href="#collapseFive" class="prod-cat">Lighting</a>

                </h4>
            </div>
            <div id="collapseFive" class="panel-collapse collapse">
                <div class="panel-body">
                    <div class="panel-group" id="accordion6">

                        <div class="panel panel-default">
                                <div class="panel-sub-heading">
                                    <div class="panel-title">
                                        <div class="checkbox">
                                            <label data-toggle="collapse" data-parent="#accordion6" href="#collapseFive1">
                                        <input type="checkbox"id="Ceiling Lights and Chandeliers" class="sub-type sub-type-parent"/>
                                            Ceiling Lights and Chandeliers
                                            </label>
                                        </div> 
                                        
                                    </div>
                                </div>
                                    <div id="collapseFive1" class="panel-collapse collapse">
                                        <div class="panel-body">
                                            Ceiling Light Design
                                          <div class="checkbox">
                                            <label><input type="checkbox" value="" id="Pendant"> Pendant </label>
                                          </div>
                                          <div class="checkbox">
                                            <label><input type="checkbox" value="" id="Chandelier"> Chandelier </label>
                                          </div>
                                          <div class="checkbox">
                                            <label><input type="checkbox" value="" id="Flush Mount"> Flush Mount </label>
                                          </div>
                                        </div>
                                    </div>
                                
                        </div> <!-- end 1st -->
                        <div class="panel panel-default">
                                <div class="panel-sub-heading">
                                    <div class="panel-title">
                                        <div class="checkbox">
                                            <label data-toggle="collapse" data-parent="#accordion6" href="#collapseFive2">
                                        <input type="checkbox" id="Wall Scones" class="sub-type sub-type-parent" />
                                            Wall Scones
                                            </label>
                                        </div> 
                                        
                                    </div>
                                </div>
                                    <div id="collapseFive2" class="panel-collapse collapse">
                                        <div class="panel-body">
                                            Wall Light Design
                                          <div class="checkbox">
                                            <label><input type="checkbox" value="" id="Sconce"> Sconce </label>
                                          </div>
                                          <div class="checkbox">
                                            <label><input type="checkbox" value="" id="Panel Light"> Panel Light </label>
                                          </div>
                                        </div>
                                    </div>
                                
                        </div> <!-- end 2nd-->
                        <div class="panel panel-default">
                                <div class="panel-sub-heading">
                                    <div class="panel-title">
                                        <div class="checkbox">
                                            <label data-toggle="collapse" data-parent="#accordion6" href="#collapseFive3">
                                        <input type="checkbox"id="Electrical Covers" class="sub-type"/>
                                            Electrical Covers
                                            </label>
                                        </div> 
                                        
                                    </div>
                                </div>
                                    <div id="collapseFive3" class="panel-collapse collapse">
                                        <div class="panel-body">

                                        </div>
                                    </div>
                                
                        </div> <!-- end 3rd-->
                    </div>

                </div>
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading product-type" id="Wallpaper">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion1" href="#collapseSix" class="prod-cat">Wallpaper</a>

                </h4>
            </div>
            <div id="collapseSix" class="panel-collapse collapse">
                <div class="panel-body">
                    <div class="panel-group" id="accordion7">

                        <div class="panel panel-default">
                                <div class="panel-sub-heading">
                                    <div class="panel-title">
                                        <div class="checkbox">
                                            <label data-toggle="collapse" data-parent="#accordion7" href="#collapseSix1">
                                        <input type="checkbox"id="Wallpapers"/>
                                            Wallpaper
                                            </label>
                                        </div> 
                                        
                                    </div>
                                </div>
                                    <div id="collapseSix1" class="panel-collapse collapse">
                                        <div class="panel-body">

                                        </div>
                                    </div>
                                
                        </div> <!-- end 1st-->

                        <div class="panel panel-default">
                                <div class="panel-sub-heading">
                                    <div class="panel-title">
                                        <div class="checkbox">
                                            <label data-toggle="collapse" data-parent="#accordion7" href="#collapseSix2">
                                        <input type="checkbox"id="Vintage Wallpaper"/>
                                           Vintage Wallpaper
                                            </label>
                                        </div> 
                                        
                                    </div>
                                </div>
                                    <div id="collapseSix2" class="panel-collapse collapse">
                                        <div class="panel-body">

                                        </div>
                                    </div>
                                
                        </div> <!-- end 2nd-->

                        <div class="panel panel-default">
                                <div class="panel-sub-heading">
                                    <div class="panel-title">
                                        <div class="checkbox">
                                            <label data-toggle="collapse" data-parent="#accordion7" href="#collapseSix3">
                                        <input type="checkbox"id="Wallpaper Design" class="sub-type sub-type-parent"/>
                                            Filter Designs
                                            </label>
                                        </div> 
                                        
                                    </div>
                                </div>
                                    <div id="collapseSix3" class="panel-collapse collapse">
                                        <div class="panel-body">
                                          <div class="checkbox">
                                            <label><input type="checkbox" value="" id="Toiles"> Toiles </label>
                                          </div>
                                          <div class="checkbox">
                                            <label><input type="checkbox" value="" id="Floral"> Floral </label>
                                          </div>
                                          <div class="checkbox">
                                            <label><input type="checkbox" value="" id="Geometric"> Geometric </label>
                                          </div>
                                        </div>
                                    </div>
                                
                        </div> <!-- end 3rd -->
                        <div class="panel panel-default">
                                <div class="panel-sub-heading">
                                    <div class="panel-title">
                                        <div class="checkbox">
                                            <label data-toggle="collapse" data-parent="#accordion7" href="#collapseSix4">
                                        <input type="checkbox"id="Wallpaper Design" class="sub-type sub-type-parent"/>
                                            Filter Colors
                                            </label>
                                        </div> 
                                        
                                    </div>
                                </div>
                                    <div id="collapseSix4" class="panel-collapse collapse">
                                        <div class="panel-body">
                                           
                                           <div class="checkbox">
                                            <label><input type="checkbox" value="" id="Neutral"> Neutral </label>
                                          </div>
                                          <div class="checkbox">
                                            <label><input type="checkbox" value="" id="Blue"> Blue </label>
                                          </div>
                                          <div class="checkbox">
                                            <label><input type="checkbox" value="" id="Pink"> Pink </label>
                                          </div>
                                          <div class="checkbox">
                                            <label><input type="checkbox" value="" id="Yellow"> Yellow </label>
                                          </div>
                                          <div class="checkbox">
                                            <label><input type="checkbox" value="" id="Black"> Black </label>
                                          </div>
                                          <div class="checkbox">
                                            <label><input type="checkbox" value="" id="Red"> Red </label>
                                          </div>
                                          <div class="checkbox">
                                            <label><input type="checkbox" value="" id="Green"> Green </label>
                                          </div>
                                          <div class="checkbox">
                                            <label><input type="checkbox" value="" id="Metallic"> Metallic </label>
                                          </div>
                                        </div>
                                    </div>
                                
                        </div> <!-- end 4th -->
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

</div>
</div>
