<div class="nav-wrap">
    <div class="navvy">
        <div class="panel-group" id="accordion1">
            <div class="panel panel-default">
                <div class="panel-heading product-type" id="Fittings">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion1" href="#collapseOne" class="prod-cat">Fittings</a>
                    </h4>
                </div>

                <div id="collapseOne" class="panel-collapse collapse">
                    <div class="panel-body">
                        <div class="panel-group" id="accordion2">
                            <div class="panel panel-default">
                                <div class="" >
                                    <div class="panel-title">
                                        <div class="checkbox">
                                            <label data-toggle="collapse" data-target="#collapseOne1">
                                                <input type="checkbox" id="Basin Sets" class="sub-type sub-type-parent"/> Basin Sets  
                                            </label>
                                        </div>  
                                    </div>
                                </div>

                                <div id="collapseOne1" class="panel-collapse collapse">
                                    <div class="panel-body">
                                        
                                        Handle Designs <br/>
                                        <div class="checkbox">
                                          <label><input type="checkbox" value="" id="Levers"> Levers </label>
                                        </div>
                                        <div class="checkbox">
                                          <label><input type="checkbox" value="" id="Knobs"> Knobs </label>
                                        </div>
                                    </div>
                                </div>
                            </div>

                          <div class="panel panel-default">
                            <div class="">
                                <div class="panel-title">
                                    <div class="checkbox">
                                        <label data-toggle="collapse" data-target="#collapseOne2">
                                            <input type="checkbox"id="Bidet Sets" class="sub-type" /> Bidet Sets  
                                        </label>
                                    </div> 
                                </div>
                            </div>
                            <div id="collapseOne2" class="panel-collapse collapse">
                                <div class="panel-body">
                                    nmbr of holes

                                </div>
                            </div>
                        </div>
                    
                                               
                       <!--  <div class="checkbox">
                                    <label>
                                        <input type="checkbox" id="Basin_Sets" class="sub-type"/> Basin Sets  
                                    </label>
                                </div> 
                        <div class="checkbox">
                          <label><input type="checkbox" value="" id="Bar_Spout_Basin_Sets" class="sub-type"> Bar Spout Basin Sets </label>
                        </div> -->
                        <div class="checkbox">
                          <label><input type="checkbox" value="" id="Single_Handle_Basin_Sets" class="sub-type"> Single Handle Basin Sets </label>
                        </div>
                        <!-- DO THIS DYNAMICALLY WITH JSON FILTERS -->
                       <!--  Handle Designs <br/>
                        <div class="checkbox">
                          <label><input type="checkbox" value="" id="Levers"> Levers </label>
                        </div>
                        <div class="checkbox">
                          <label><input type="checkbox" value="" id="Knobs"> Knobs </label>
                        </div> -->

                        <div class="checkbox">
                            <label>
                                <input type="checkbox" id="Wall_Mount_Basin Sets" class="sub-type"/>
                                 Wall Mount Basin Sets 
                            </label>
                        </div> 
                         <div class="checkbox">
                            <label>
                                <input type="checkbox" id="Concentric Thermostatic_Shower_Systems" class="sub-type"/>
                                 Concentric Thermostatic Shower Systems
                            </label>
                        </div> 
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" id="Concentric_Thermostatic_Shower_Systems" class="sub-type"/>
                                 Concentric Thermostatic Shower Systems
                            </label>
                        </div> 
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" id="High_Flow_Thermostatic_Shower_Systems" class="sub-type"/>
                                 High Flow Thermostatic Shower Systems
                            </label>
                        </div> 
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" id="Deck_Mount_Tub_Sets" class="sub-type"/>
                                 Deck Mount Tub Sets
                            </label>
                        </div>
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" id="Wall_Mount_Tub_Sets" class="sub-type"/>
                                 Wall Mount Tub Sets
                            </label>
                        </div> 
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" id="Exposed_Tub_Sets" class="sub-type"/>
                                 Exposed Tub Sets
                            </label>
                        </div>
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" id="Exposed_Shower_Sets" class="sub-type"/>
                                 Exposed Shower Sets
                            </label>
                        </div>
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" id="Bidet_Sets-Single_Hole" class="sub-type"/>
                                 Bidet Sets - Single Hole
                            </label>
                        </div>
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" id="Bidet_Sets-Four_Hole" class="sub-type"/>
                                 Bidet Sets - Four Hole
                            </label>
                        </div>
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" id="WC_Trip_Levers" class="sub-type"/>
                                 WC Trip Levers
                            </label>
                        </div>
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" id="Components" class="sub-type"/>
                                 Components
                            </label>
                        </div>
                          
                    </div>
                </div>
            </div>


        
            <!-- FIXTURES TOGGLE EACH OTHER CLOSED data-parent + href vs data target*** -->
            <div class="panel panel-default"> 
                <div class="panel-heading product-type" id="Fixtures">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion1" href="#collapseTwo" class="prod-cat">Fixtures</a>
                    </h4>
                </div>

                <div id="collapseTwo" class="panel-collapse collapse">
                    <div class="panel-body">

                        <div class="checkbox">
                            <label>
                                <input type="checkbox" id="Basins" class="sub-type"/>
                                 Basins
                            </label>
                        </div>
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" id="Pedestals" class="sub-type"/>
                                Pedastals
                            </label>
                        </div> 
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" id="Counters" class="sub-type"/>
                                 Counters
                            </label>
                        </div>
                       

                        <div class="checkbox">
                            <label>
                                <input type="checkbox" id="Consoles" class="sub-type"/>
                                 Consoles
                            </label>
                        </div>
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" id="Legs" class="sub-type"/>
                                 Legs
                            </label>
                        </div>
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" id="Tubs" class="sub-type"/>
                                 Tubs
                            </label>
                        </div>
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" id="Water_Closets" class="sub-type"/>
                                 Water Closets
                            </label>
                        </div>
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" id="Bidets" class="sub-type"/>
                                 Bidets
                            </label>
                        </div>
                        
                    </div>  
                    
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading product-type" id="Accessories">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion1" href="#collapseThree" class="prod-cat">Accessories</a>

                    </h4>
                </div>
                    <div id="collapseThree" class="panel-collapse collapse">
                        <div class="panel-body">
                           <div class="checkbox">
                            <label>
                                <input type="checkbox" id="Towel_Bars" class="sub-type"/>
                                 Towel Bars
                            </label>
                            </div>

                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" id="Shelves" class="sub-type"/>
                                     Shelves
                                </label>
                            </div>
                             <div class="checkbox">
                                <label>
                                    <input type="checkbox" id="Towel_Rings" class="sub-type"/>
                                     Towel Rings
                                </label>
                            </div>
                             <div class="checkbox">
                                <label>
                                    <input type="checkbox" id="Paper_Holders" class="sub-type"/>
                                     Paper Holders
                                </label>
                            </div>
                             <div class="checkbox">
                                <label>
                                    <input type="checkbox" id="Hooks" class="sub-type"/>
                                     Hooks
                                </label>
                            </div>
                             <div class="checkbox">
                                <label>
                                    <input type="checkbox" id="Tumblers" class="sub-type"/>
                                     Tumblers
                                </label>
                            </div>
                             <div class="checkbox">
                                <label>
                                    <input type="checkbox" id="Soap_Dishes" class="sub-type"/>
                                     Soap Dishes
                                </label>
                            </div>
                             <div class="checkbox">
                                <label>
                                    <input type="checkbox" id="Tumbler_Holders" class="sub-type"/>
                                     Tumbler Holders
                                </label>
                            </div>
                             <div class="checkbox">
                                <label>
                                    <input type="checkbox" id="Soap_Dish_Holders" class="sub-type"/>
                                     Soap Dish Holders
                                </label>
                            </div>
                             <div class="checkbox">
                                <label>
                                    <input type="checkbox" id="Soap_Pump" class="sub-type"/>
                                     Soap Pump
                                </label>
                            </div>
                             <div class="checkbox">
                                <label>
                                    <input type="checkbox" id="Boutique_Tissue_Box_Covers" class="sub-type"/>
                                     Boutique Tissue Box Covers
                                </label>
                            </div>
                             <div class="checkbox">
                                <label>
                                    <input type="checkbox" id="Elongated_Tissue_Box_Covers" class="sub-type"/>
                                     Elongated Tissue Box Covers
                                </label>
                            </div>
                             <div class="checkbox">
                                <label>
                                    <input type="checkbox" id="Covered_Jars" class="sub-type"/>
                                     Covered Jars
                                </label>
                            </div>
                             <div class="checkbox">
                                <label>
                                    <input type="checkbox" id="Waste_Baskets" class="sub-type"/>
                                     Waste Baskets
                                </label>
                            </div>
                             <div class="checkbox">
                                <label>
                                    <input type="checkbox" id="Mirrors" class="sub-type"/>
                                     Mirrors
                                </label>
                            </div>
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" id="Medicine_Cabinets" class="sub-type"/>
                                     Medicine Cabinets
                                </label>
                            </div>
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" id="Countertop_Accessories" class="sub-type"/>
                                     Countertop Accessories
                                </label>
                            </div>
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" id="Tub_and _hower" class="sub-type"/>
                                     Tub and Shower
                                </label>
                            </div>
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" id="Grab_Bars" class="sub-type"/>
                                     Grab Bars
                                </label>
                            </div>
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" id="Decorative_Objects" class="sub-type"/>
                                     Decorative Objects
                                </label>
                            </div>
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" id="Bench" class="sub-type"/>
                                     Bench
                                </label>
                            </div>
                            

                        </div>                  

                    </div>
                <!-- </div> -->
            </div>   <!-- end Accessories Panel -->

            <div class="panel panel-default">
                <div class="panel-heading product-type" id="Hardware">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion1" href="#collapseFour" class="prod-cat">Hardware</a>

                    </h4>
                </div>
                <div id="collapseFour" class="panel-collapse collapse">
                    <div class="panel-body">

                        <div class="checkbox">
                            <label>
                                <input type="checkbox"id='Door_Levers' class='sub-type'/>
                                Door Levers
                            </label>
                        </div>

                        <div class="checkbox">
                            <label>
                                <input type="checkbox"id='Door_Knobs' class='sub-type'/>
                                Door Knobs
                            </label>
                        </div>

                        <div class="checkbox">
                            <label>
                                <input type="checkbox"id='Back_Plates' class='sub-type'/>
                                Back Plates
                            </label>
                        </div>

                        <div class="checkbox">
                            <label>
                                <input type="checkbox"id='Push_Plates' class='sub-type'/>
                                Push Plates
                            </label>
                        </div>

                        <div class="checkbox">
                            <label>
                                <input type="checkbox"id='Flush_Pulls' class='sub-type'/>
                                Flush Pulls
                            </label>
                        </div>

                        <div class="checkbox">
                            <label>
                                <input type="checkbox"id='Hinges' class='sub-type'/>
                                Hinges
                            </label>
                        </div>

                        <div class="checkbox">
                            <label>
                                <input type="checkbox"id='Cremone_bolts' class='sub-type'/>
                                Cremone bolts
                            </label>
                        </div>

                        <div class="checkbox">
                            <label>
                                <input type="checkbox"id='Slide_Bolts' class='sub-type'/>
                                Slide Bolts
                            </label>
                        </div>

                        <div class="checkbox">
                            <label>
                                <input type="checkbox"id='Bar_Pulls' class='sub-type'/>
                                Bar Pulls
                            </label>
                        </div>

                        <div class="checkbox">
                            <label>
                                <input type="checkbox"id='Cabinet_Knobs' class='sub-type'/>
                                Cabinet Knobs
                            </label>
                        </div>

                        <div class="checkbox">
                            <label>
                                <input type="checkbox"id='Door_Bells' class='sub-type'/>
                                Door Bells
                            </label>
                        </div>

                        <div class="checkbox">
                            <label>
                                <input type="checkbox"id='Door_Stops' class='sub-type'/>
                                Door Stops
                            </label>
                        </div>

                        <div class="checkbox">
                            <label>
                                <input type="checkbox"id='Cylinder_Covers' class='sub-type'/>
                                Cylinder Covers
                            </label>
                        </div>

                        <div class="checkbox">
                            <label>
                                <input type="checkbox"id='Key_Hole_Covers' class='sub-type'/>
                                Key Hole Covers
                            </label>
                        </div>

                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading product-type" id="Lighting">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion1" href="#collapseFive" class="prod-cat">Lighting</a>

                    </h4>
                </div>
                <div id="collapseFive" class="panel-collapse collapse">
                    <div class="panel-body">

                        <div class="checkbox">
                            <label>
                                <input type="checkbox"id='Chandeliers' class='sub-type'/>
                                Chandeliers
                            </label>
                        </div>

                        <div class="checkbox">
                            <label>
                                <input type="checkbox"id='Pendant_Ceiling_Lights ' class='sub-type'/>
                                Pendant Ceiling Lights 
                            </label>
                        </div>

                        <div class="checkbox">
                            <label>
                                <input type="checkbox"id='Flush_Mount_Lights' class='sub-type'/>
                                Flush Mount Lights
                            </label>
                        </div>

                        <div class="checkbox">
                            <label>
                                <input type="checkbox"id='Sconces' class='sub-type'/>
                                Sconces
                            </label>
                        </div>

                        <div class="checkbox">
                            <label>
                                <input type="checkbox"id='Wall_Lights' class='sub-type'/>
                                Wall Lights
                            </label>
                        </div>

                        <div class="checkbox">
                            <label>
                                <input type="checkbox"id='Electrical_Covers' class='sub-type'/>
                                Electrical Covers
                            </label>
                        </div>

                        <div class="checkbox">
                            <label>
                                <input type="checkbox"id='Table_Lights' class='sub-type'/>
                                Table Lights
                            </label>
                        </div>

                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading product-type" id="Wallpaper">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion1" href="#collapseSix" class="prod-cat">Wall Coverings</a>

                    </h4>
                </div>
                <div id="collapseSix" class="panel-collapse collapse">
                    <div class="panel-body">
                        <div class="checkbox">
                            <label>
                                <input type="checkbox"id='Table_Lights' class='sub-type'/>
                                Wallpaper
                            </label>
                        </div>
                        <div class="checkbox">
                            <label>
                                <input type="checkbox"id='Table_Lights' class='sub-type'/>
                                Vintage Wallpaper
                            </label>
                        </div>

                    </div> <!-- end sub panel body -->
                </div> <!-- end w-paper sub panel  -->
            </div>   <!-- end wallpaper Panel-->

        </div>
    </div>

</div>


