<div class="nav-wrap">
    <div class="navvy">
        <div class="panel-group" id="accordion1">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion1" href="#collapseOne">Fittings</a>
                    </h4>
                </div>

                <div id="collapseOne" class="panel-collapse collapse">
                    <div class="panel-body">

                        <div class="panel-group" id="accordion2">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <div class="panel-title">
                                        <div class="checkbox">
                                            <label data-toggle="collapse" data-target="#collapseOne1">
                                                <input type="checkbox"id="Basin Sets"/> Basin Sets  
                                            </label>
                                        </div>  
                                    </div>
                                </div>

                                <div id="collapseOne1" class="panel-collapse collapse">
                                    <div class="panel-body">
                                        <div class="checkbox">
                                          <label><input type="checkbox" value="" id="Bar Spout Basin Sets"> Bar Spout Basin Sets </label>
                                      </div>
                                      <div class="checkbox">
                                          <label><input type="checkbox" value="" id="Single Handle Basin Sets"> Single Handle Basin Sets </label>
                                      </div>
                                      Handle Designs <br/>
                                      <div class="checkbox">
                                          <label><input type="checkbox" value="" id="Levers"> Levers </label>
                                      </div>
                                      <div class="checkbox">
                                          <label><input type="checkbox" value="" id="Knobs"> Knobs </label>
                                      </div>
                                    </div>
                              </div>
                          </div>

                          <div class="panel panel-default">
                            <div class="panel-heading">
                                <div class="panel-title">
                                    <div class="checkbox">
                                        <label data-toggle="collapse" data-target="#collapseOne2">
                                            <input type="checkbox"id="Bidet Sets"/> Bidet Sets  
                                        </label>
                                    </div> 
                                </div>
                            </div>
                            <div id="collapseOne2" class="panel-collapse collapse">
                                <div class="panel-body">

                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <div class="panel-title">
                                    <div class="checkbox">
                                        <label data-toggle="collapse" data-target="#collapseOne3">
                                            <input type="checkbox"id="Shower Systems"/> Shower Systems 
                                        </label>
                                    </div> 

                                </div>
                            </div>
                            <div id="collapseOne3" class="panel-collapse collapse">
                                <div class="panel-body">
                                    
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <div class="panel-title">
                                    <div class="checkbox">
                                        <label data-toggle="collapse" data-target="#collapseOne4">
                                            <input type="checkbox"id="Tub Sets"/> Tub Sets 
                                        </label>
                                    </div> 

                                </div>
                            </div>
                            <div id="collapseOne4" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <div class="panel-body">
                                        <div class="checkbox">
                                          <label><input type="checkbox" value="" id="Deck Mount Tub Sets"> Deck Mount Tub Sets </label>
                                      </div>
                                      <div class="checkbox">
                                          <label><input type="checkbox" value="" id="Wall Mount Tub Sets"> Wall Mount Tub Sets </label>
                                      </div>
                                     
                                      <div class="checkbox">
                                          <label><input type="checkbox" value="" id="Exposed Tub Sets"> Exposed Tub Sets </label>
                                      </div>
                                      
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


        </div>
        <!-- FIXTURES TOGGLE EACH OTHER CLOSED data-parent + href vs data target*** -->
        <div class="panel panel-default"> 
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion1" href="#collapseTwo">Fixtures</a>
                </h4>
            </div>

            <div id="collapseTwo" class="panel-collapse collapse">
                <div class="panel-body">
                    <div class="panel-group" id="accordion3">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <div class="panel-title">
                                    <a data-toggle="collapse" data-parent="#accordion3" href="#collapseTwo1">Basins</a>
                                </div>
                            </div>
                            <div id="collapseTwo1" class="panel-collapse collapse">
                                <div class="panel-body">
                                    Basin Type
                                    <div class="checkbox">
                                      <label><input type="checkbox" value="" id="Under Edge"> Under Edge </label>
                                  </div>
                                  <div class="checkbox">
                                      <label><input type="checkbox" value="" id="Over Edge"> Over Edge </label>
                                  </div>


                              </div>
                          </div>
                      </div>
                      <div class="panel panel-default">
                        <div class="panel-heading">
                            <div class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion3" href="#collapseTwo2">Pedestals</a>
                            </div>
                        </div>
                        <div id="collapseTwo2" class="panel-collapse collapse">
                            <div class="panel-body">

                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <div class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion3" href="#collapseTwo3">Counters & Consoles</a>
                            </div>
                        </div>
                        <div id="collapseTwo3" class="panel-collapse collapse">
                            <div class="panel-body">

                            </div>
                        </div>

                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <div class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion3" href="#collapseTwo4">Tubs</a>
                            </div>
                        </div>
                        <div id="collapseTwo4" class="panel-collapse collapse">
                            <div class="panel-body">

                            </div>
                        </div>
                        
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <div class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion3" href="#collapseTwo5">Water Closets & Bidets</a>
                            </div>
                        </div>
                        <div id="collapseTwo5" class="panel-collapse collapse">
                            <div class="panel-body">

                            </div>
                        </div>
                        
                    </div>

                </div>  
                </div>  
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion1" href="#collapseThree">Accessories</a>

                </h4>
            </div>
            <div id="collapseThree" class="panel-collapse collapse">
                <div class="panel-body">

                </div>
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion1" href="#collapseFour">Hardware</a>

                </h4>
            </div>
            <div id="collapseFour" class="panel-collapse collapse">
                <div class="panel-body">

                </div>
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion1" href="#collapseFive">Lighting</a>

                </h4>
            </div>
            <div id="collapseFive" class="panel-collapse collapse">
                <div class="panel-body">

                </div>
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion1" href="#collapseSix">Wallpaper</a>

                </h4>
            </div>
            <div id="collapseSix" class="panel-collapse collapse">
                <div class="panel-body">

                </div>
            </div>
        </div>

    </div>
</div>

</div>
</div>
