<div id="side_nav2">
 <div id="prod_header">
  <h4>Products</h4>
</div>

<div >
  <ul >
    <% @filters.each do |filter| %>
    <li id="<%= filter[:filter_name] %>">
      <%= filter[:filter_name] %>
      <% filter[:filter_values].each do |val| %>
      <div class="checkbox">
        <label><input type="checkbox" value="" id="<%= val[:name] %>"> <%= val[:name] %> </label>
      </div>
      <% end %>
    </li>
    <% end %>
  </ul>  