<div class="nav-wrap">
    <div class="navvy">
        <div class="panel-group" id="accordion1">
            <div class="panel panel-default">
                <div class="panel-heading product-type" id="Fittings">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion1" href="#collapseOne" class="prod-cat">Fittings</a>
                    </h4>
                </div>

                <div id="collapseOne" class="panel-collapse collapse">
                    <div class="panel-body">

                                               
                        <div class="checkbox">
                                    <label>
                                        <input type="checkbox" id="Basin_Sets" class="sub-type"/> Basin Sets  
                                    </label>
                                </div> 
                        <div class="checkbox">
                          <label><input type="checkbox" value="" id="Bar_Spout_Basin_Sets" class="sub-type"> Bar Spout Basin Sets </label>
                        </div>
                        <div class="checkbox">
                          <label><input type="checkbox" value="" id="Single_Handle_Basin_Sets" class="sub-type"> Single Handle Basin Sets </label>
                        </div>
                        <!-- DO THIS DYNAMICALLY WITH JSON FILTERS -->
                       <!--  Handle Designs <br/>
                        <div class="checkbox">
                          <label><input type="checkbox" value="" id="Levers"> Levers </label>
                        </div>
                        <div class="checkbox">
                          <label><input type="checkbox" value="" id="Knobs"> Knobs </label>
                        </div> -->

                        <div class="checkbox">
                            <label>
                                <input type="checkbox" id="Wall_Mount_Basin Sets" class="sub-type"/>
                                 Wall Mount Basin Sets 
                            </label>
                        </div> 
                         <div class="checkbox">
                            <label>
                                <input type="checkbox" id="Concentric Thermostatic_Shower_Systems" class="sub-type"/>
                                 Concentric Thermostatic Shower Systems
                            </label>
                        </div> 
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" id="Concentric_Thermostatic_Shower_Systems" class="sub-type"/>
                                 Concentric Thermostatic Shower Systems
                            </label>
                        </div> 
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" id="High_Flow_Thermostatic_Shower_Systems" class="sub-type"/>
                                 High Flow Thermostatic Shower Systems
                            </label>
                        </div> 
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" id="Deck_Mount_Tub_Sets" class="sub-type"/>
                                 Deck Mount Tub Sets
                            </label>
                        </div>
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" id="Wall_Mount_Tub_Sets" class="sub-type"/>
                                 Wall Mount Tub Sets
                            </label>
                        </div> 
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" id="Exposed_Tub_Sets" class="sub-type"/>
                                 Exposed Tub Sets
                            </label>
                        </div>
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" id="Exposed_Shower_Sets" class="sub-type"/>
                                 Exposed Shower Sets
                            </label>
                        </div>
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" id="Bidet_Sets-Single_Hole" class="sub-type"/>
                                 Bidet Sets - Single Hole
                            </label>
                        </div>
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" id="Bidet_Sets-Four_Hole" class="sub-type"/>
                                 Bidet Sets - Four Hole
                            </label>
                        </div>
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" id="WC_Trip_Levers" class="sub-type"/>
                                 WC Trip Levers
                            </label>
                        </div>
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" id="Components" class="sub-type"/>
                                 Components
                            </label>
                        </div>
                          
                    </div>
                </div>
            </div>


        
            <!-- FIXTURES TOGGLE EACH OTHER CLOSED data-parent + href vs data target*** -->
            <div class="panel panel-default"> 
                <div class="panel-heading product-type" id="Fixtures">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion1" href="#collapseTwo" class="prod-cat">Fixtures</a>
                    </h4>
                </div>

                <div id="collapseTwo" class="panel-collapse collapse">
                    <div class="panel-body">
                        body
                    </div>  
                    
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading product-type" id="Accessories">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion1" href="#collapseThree" class="prod-cat">Accessories</a>

                    </h4>
                </div>
                    <div id="collapseThree" class="panel-collapse collapse">
                        <div class="panel-body">
                           body

                        </div>                  

                    </div>
                <!-- </div> -->
            </div>   <!-- end Accessories Panel -->

            <div class="panel panel-default">
                <div class="panel-heading product-type" id="Hardware">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion1" href="#collapseFour" class="prod-cat">Hardware</a>

                    </h4>
                </div>
                <div id="collapseFour" class="panel-collapse collapse">
                    <div class="panel-body">
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading product-type" id="Lighting">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion1" href="#collapseFive" class="prod-cat">Lighting</a>

                    </h4>
                </div>
                <div id="collapseFive" class="panel-collapse collapse">
                    <div class="panel-body">
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading product-type" id="Wallpaper">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion1" href="#collapseSix" class="prod-cat">Wallpaper</a>

                    </h4>
                </div>
                <div id="collapseSix" class="panel-collapse collapse">
                    <div class="panel-body">
                    </div> <!-- end sub panel body -->
                </div> <!-- end w-paper sub panel  -->
            </div>   <!-- end wallpaper Panel-->

        </div>
    </div>

</div>

