
  <div class="nav-wrap">
      <div class="navvy" data-spy="affix" data-offset-top="105">
        <div class="panel-group" id="accordion1">
          
            <%= render partial:"product_types/product_type", collection: product_types.order(:id) %>
          
        </div>
      </div>
  </div>
